@import "../variables.less";

.b-button {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  outline-width: 0px;
  border: 0px solid transparent;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  color: @theme-color-5;
  font-weight: bold;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-size: @fs-xs;
  line-height: @fs-md;
  margin-top: @padding;               //// !!
  margin-right: @padding;
  padding: @padding/2 @padding;
  transition: background-color 0.2s ease-in-out;
  &_pink {
    background-color: @theme-color-2;
    &:hover {
      color: @theme-color-5;
      background-color: lighten((@theme-color-2), @lighten-hover);
    }
    &:active {
      color: @theme-color-5;
      background-color: darken((@theme-color-2), @lighten-hover);
    }
  }
  &_blue {
    background-color: @theme-color-1;
    &:hover {
      color: @theme-color-5;
      background-color: #5753b5;
    }
    &:active {
      color: @theme-color-5;
      background-color: darken((@theme-color-1), @lighten-hover);
    }
  }
}

/* Tablet */
@media screen and (min-width: @screen-md) {
  .b-button {
    letter-spacing: 0.2rem;
    font-size: @fs-sm;
    margin-top: @padding;
    margin-right: @padding;
    padding: @padding 2*@padding;
  }
}

/* 4K */
@media screen and (min-width: @screen-4k) {
  .b-button {
    border-radius: 10px;
    letter-spacing: 0.2vw;
    font-size: 1vw;
    margin-top: 2 * @padding;
    margin-right: 2 * @padding;
    padding: 3 * @padding 4*@padding;
  }
}
