@import "../variables.less";

.b-footer {
  display: flex;
  flex-flow: row wrap;
  width: 100% - @ratio-nav-p;
  padding-left: @padding;
  &__left-container {
    box-sizing: border-box;
    padding-left: @padding;
    padding-bottom: @padding;
    min-width: 100%;
    max-width: 100%;
  }
  &__right-container {
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
  }
  &__logo {
    width: 224px;
  }
  &__logo-container {
    text-align: center;
  }
  &__social-container {
    padding-top: 2 * @padding;
    text-align: center;
  }
  &__social-icon {
    width: 30px;
    margin: 4px 2px;
    background-color: @theme-color-1;
    border: 6px solid @theme-color-1;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    &:hover {
      background-color: @theme-color-2;
      border-color: @theme-color-2;
    }
  }
}

/* Mobile */
@media screen and (min-width: @screen-xs) {
  //
}

/* Large Mobile */
@media screen and (min-width: @screen-sm) {
  .b-footer {
    padding-left: 2 * @padding;
    &__logo {
      width: 16vw;
    }
    &__logo-container {
      text-align: left;
    }
    &__left-container {
      padding-left: 2 * @padding;
      padding-bottom: 2 * @padding;
      min-width: 30%;
      max-width: 30%;
    }
    &__right-container {
      min-width: 70%;
      max-width: 70%;
    }
    &__social-container {
      text-align: left;
    }
  }
}

/* Tablet */
@media screen and (min-width: @screen-md) {
  .b-footer {
    padding-left: @ratio-nav-p;
    &__left-container {
      padding-left: 3 * @padding;
      padding-bottom: 3 * @padding;
    }
  }
}

/* Laptop */
@media screen and (min-width: @screen-lg) {
  .b-footer {
    &__left-container {
      padding-left: 4 * @padding;
      padding-bottom: 4 * @padding;
    }
  }
}

/* Desktop */
@media screen and (min-width: @screen-xl) {
  .b-footer {
    &__left-container {
      padding-left: 5 * @padding;
      padding-bottom: 5 * @padding;
    }
  }
}
