@import "../variables.less";

.b-form {
  color: @theme-color-4;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  &__choice-title {
    display: inline-block;
    font-weight: bold;
  }
  &__choice-option {
    width: 100%;
    margin-top: @padding;
    display: inline-flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out,
      background 0.2s ease-in-out;
    &_special {
      align-items: flex-start;
      &:hover {
        color: @theme-color-4 !important;
        transform: none !important;
      }
    }
    &:hover {
      color: @theme-color-2;
    }
    &:hover .b-form__choice-checkbox-hidden ~ .b-form__choice-checkbox,
    & .b-form__choice-checkbox-hidden:focus ~ .b-form__choice-checkbox {
      background: @theme-color-3;
    }
    & .b-form__choice-checkbox-hidden:checked ~ .b-form__choice-checkbox {
      background: @theme-color-2;
    }
    & .b-form__choice-checkbox-hidden:disabled ~ .b-form__choice-checkbox {
      background: darkgray;
      opacity: 0.6;
      pointer-events: none;
    }
    & .b-form__choice-checkbox-hidden:checked ~ .b-form__choice-checkbox:after {
      display: block;
    }
    & .b-form__choice-checkbox:after {
      z-index: 5;
      left: @padding + 0.6rem;
      top: 0.3rem;
      width: 0.7rem;
      height: 1.2rem;
      border: solid @theme-color-5;
      border-width: 0 0.3rem 0.3rem 0;
      transform: rotate(45deg);
    }
    &
      .b-form__choice-checkbox-hidden:disabled
      ~ .b-form__choice-checkbox:after {
      border-color: #7b7b7b;
    }
  }
  &__choice-row {
    padding-top: 2 * @padding;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    &_special {
      align-items: stretch;

      & span {
        padding-top: @padding / 2;
      }
      & textarea {
        width: 100%;
        resize: none;
        min-height: auto;
        padding-left: @padding;
        padding-right: @padding;
        padding-top: @padding;
      }
    }
  }
  &__choice-checkbox-hidden {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__choice-checkbox {
    margin-right: 1rem;
    min-width: 2rem;
    min-height: 2rem;
    background-color: @theme-color-5;
    border: 1px solid @theme-color-1;
    border-radius: 5px;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  &__choice-field {
    padding-left: @padding;
    padding-right: @padding;
    min-height: 3rem; // !!
    width: 100%;
    border: 1px solid @theme-color-1;
    border-radius: 5px;
    &:focus {
      outline: none; // !! Set focused behavior here
      border: 2px solid @theme-color-2;
      background-color: @theme-color-3;
    }
    &_selector {
      padding: 0;
      & .ss-single-selected {
        width: 100%;
        min-height: 3rem;
        padding-top: 0;
        padding-left: @padding;
        padding-right: @padding;
        & .placeholder {
          color: @theme-color-4;
        }
      }
      & .ss-content {
        border-color: @theme-color-1;
        width: 100.8%;
        margin-left: -2px;
        border-radius: 5px;
        & .ss-list .ss-option:hover,
        & .ss-list .ss-option.ss-highlighted {
          background-color: @theme-color-1;
          color: @theme-color-5;
        }
      }
      & .ss-content.ss-open {
        box-shadow: @normal-shadow;
        & .ss-search {
          padding: @padding @padding/2 @padding/4 @padding/2;
          & input {
            min-height: 2.4rem;
            padding-left: @padding;
            font-family: @ff;
            border: 1px solid @theme-color-1;
            &:focus {
              box-shadow: none;
              outline: none;
              border: 2px solid @theme-color-2;
              background-color: @theme-color-3;
            }
          }
        }
      }
    }
  }
}

/* Large Mobile */
@media screen and (min-width: @screen-sm) {
  .b-form {
    &__choice-option {
      & .b-form__choice-checkbox:after {
        left: 2 * @padding + 0.6rem;
      }
    }
  }
}

/* !!! Mobile only fix !!! Max width */
@media screen and (max-width: @screen-md) {
  .b-form {
    &__choice-row {
      min-width: 50% !important;
      max-width: 50% !important;
      &_special {
        align-items: stretch;
        min-width: 100% !important;
        max-width: 100% !important;
        & textarea {
          min-height: 8rem !important;
        }
      }
    }
    &__choice-field {
      margin-top: @padding;
    }
  }
}

/* Tablet */
@media screen and (min-width: @screen-md) {
  .b-form {
    justify-content: center;
    &__choice-checkbox {
      margin-right: 0.5rem;
    }
    &__choice-option {
      width: auto;
      margin-top: 0;
      &:hover {
        transform: scale(1.05);
      }
      & .b-form__choice-checkbox:after {
        left: 3 * @padding + 0.6rem;
      }
    }
  }
}

/* Laptop */
@media screen and (min-width: @screen-lg) {
  .b-form {
    &__choice-checkbox {
      margin-right: 1rem;
    }
    justify-content: center;
    &__choice-option {
      & .b-form__choice-checkbox:after {
        left: 4 * @padding + 0.6rem;
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: @screen-xl) {
  .b-form {
    &__choice-option {
      & .b-form__choice-checkbox:after {
        left: 5 * @padding + 0.6rem;
      }
    }
  }
}

/* 4K */
@media screen and (min-width: @screen-4k) {
  .b-form {
    &__choice-option {
      & .b-form__choice-checkbox:after {
        left: 6 * @padding + 0.6rem;
      }
    }
  }
}
