@import "../variables.less";

.b-header {
  color: @theme-color-4;
  padding-left: @padding;
  margin-top: @burger-height;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  font-family: @ff;
  &__spacer {
    display: none;
  }
  &__logo-container {
    display: none;
    width: 50%;
    padding-left: 0;
    margin-right: auto;
  }
  &__logo {
    width: 224px;
    margin-bottom: @padding;
  }
  &__contact-container {
    margin-bottom: @padding;
    margin-right: auto;
    display: none;
    flex-flow: row nowrap;
    align-items: center;
  }
  &__contact-icon {
    width: 30px;
    margin-right: @padding;
  }
  &__inner-container {
    display: inline-flex;
    flex-flow: column wrap;
  }
  &__text-container {
    width: 100%;
    display: none;
    align-items: center;
    margin-bottom: @padding;
    margin-right: 0;
  }
  &__text {
    text-decoration: none;
    color: inherit;
    &_light {
      font-weight: 200;
      font-style: italic;
      color: lighten(@theme-color-4, 50%);
      font-size: @fs-sm;
      line-height: @fs-sm + @fs-sm / 10;
    }
    &_bold {
      font-size: @fs-sm;
      line-height: @fs-sm + @fs-sm / 10;
    }
    &_small {
      font-size: @fs-xs;
    }
  }
}

/* Large Mobile */
// @media screen and (min-width: @screen-sm) {
//   .b-header {
//     flex-flow: row wrap;
//     padding-left: 2 * @padding;
//     &__text-container {
//       min-width: 250px;
//       width: 50%;
//       display: inline-flex;
//       align-items: center;
//     }
//   }
// }

/* Tablet */
@media screen and (min-width: @screen-md) {
  .b-header {
    margin-top: 4 * @padding;
    height: 10vw;
    padding-left: 3 * @padding;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    &__spacer {
      display: inline-block;
    }
    &__contact-container {
      min-width: 25%;
      max-width: 25%;
      margin-left: auto;
      margin-right: 0;
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: stretch;
      align-items: center;
    }
    &__logo-container {
      display: inline-block;
      min-width: 25% - @ratio-nav-p;
      max-width: 25% - @ratio-nav-p;
      margin-right: 0;
    }
    &__logo {
      width: 12vw;
    }
    &__contact-icon {
      width: 3vw;
      margin-right: 1vw;
    }
    &__text-container {
      display: inline-flex;
      min-width: 25%;
      max-width: 25%;
      margin-left: auto;
    }
    &__text {
      &_light {
        font-size: @fs-xs;
        line-height: @fs-xs + 0.1px;
      }
      &_bold {
        font-size: @fs-xs;
        line-height: @fs-xs + 0.1px;
        font-weight: bold;
      }
      &_small {
        font-size: @fs-xs;
        line-height: @fs-xs + 0.1px;
      }
    }
  }
}

/* Laptop */
@media screen and (min-width: @screen-lg) {
  .b-header {
    height: 8vw;
    margin-top: 2 * @padding;
    padding-left: @ratio-nav-p;
    &__contact-icon {
      min-width: 3vw;
    }
    &__logo-container {
      margin-left: 4 * @padding;
    }
    &__text {
      &_light {
        font-size: 1.4vw;
        letter-spacing: 0.08vw;
      }
      &_bold {
        font-size: 1.2vw;
        line-height: 1.3vw;
        font-weight: bold;
      }
      &_small {
        font-size: 1vw;
        line-height: 1.1vw;
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: @screen-xl) {
  .b-header {
    &__logo-container {
      margin-left: 5 * @padding;
    }
    &__text {
      &_light {
        font-size: 1.2vw;
      }
      &_bold {
        font-size: 1.2vw;
        line-height: 2vw;
      }
    }
  }
}
