@import "../variables.less";

.b-header {
  padding-left: @padding;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  &__logo {
    max-width: 224px;
    max-height: 50px;
  }
  &__contact-container {
    margin-right: auto;
    display: inline-flex;
    flex-flow: row nowrap;
  }
  &__contact-icon {
    width: 50px;
  }
  &__inner-container {
    display: inline-flex;
    flex-flow: column wrap;
  }
}

/* Mobile */
@media screen and (min-width: @screen-xs) {
  //
}

/* Large Mobile */
@media screen and (min-width: @screen-sm) {
  .b-header {
    padding-left: 2 * @padding;
  }
}

/* Tablet */
@media screen and (min-width: @screen-md) {
  .b-header {
    height: 132px;
    padding-left: @ratio-nav-p;
    flex-flow: row nowrap;
  }
}

/* Laptop */
@media screen and (min-width: @screen-lg) {
  // .b-header {
  //   padding-left: @screen-lg * @ratio-nav - @min-point + 4 * @padding;
  //   padding-right: 4 * @padding;
  // }
}

/* Desktop */
@media screen and (min-width: @screen-xl) {
  // .b-header {
  //   padding-left: @screen-xl * @ratio-nav - @min-point + 5 * @padding;
  //   padding-right: 5 * @padding;
  // }
}