@import "../variables.less";

.b-nav {
  background-color: maroon;
  display: inline-flex;
  min-width: 100%;
  max-width: 100%;
  min-height: 30px;
  &__sidemenu-container {
    height: auto;
    list-style: none;
    width: 100%;
    & li {
      height: 25px;
      margin: 0;
      padding: 5px 0;
      background-color: #666;
      border: none;
      text-align: center;
      display: inline-block;
      float: left;
      clear: both;
      width: 100px;
      &:hover {
        background-color: #f36f25;
        color: #ffffff;
        & ul {
          display: block;
        }
        & .sub-menu {
          position: relative;
          margin-top: -27.5px;
          & li {
            position: relative;
            display: block;
            top: 0;
            left: 100%;
            width: 100%;
            min-width: 180px;
            white-space: nowrap;
            z-index: 1;
            & a {
              display: inline-block;
            padding: 0 10px;
            }
          }
        }
      }
      & a {
        font-family: Calibri, Arial;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
      }
      &.current {
        background-color: #f36f25;
        & a {
          color: #ffffff;
        }
      }
      & ul {
        display: none;
        margin-top: 10px;
        padding: 0;
      }
    }
  }
}

/* Mobile-landscape (and larger) */
@media screen and (min-width: @screen-xs) {
  .b-nav {
    background-color: chocolate;
  }
}

/* Tablet-portrait (and larger) */
@media screen and (min-width: @screen-sm) {
  .b-nav {
    background-color: burlywood;
  }
}

/* Tablet-landscape (and larger) */
@media screen and (min-width: @screen-md) {
  .b-nav {
    background-color: @theme-color-3;
    min-width: @ratio-nav-p;
    max-width: @ratio-nav-p;
  }
}

/* Laptops (and langer) */
@media screen and (min-width: @screen-lg) {
  .b-nav {
  }
}

/* Desktops (and langer) */
@media screen and (min-width: @screen-xl) {
  .b-nav {
  }
}
