@import "../variables.less";

.b-notice {
  flex-grow: 1;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: 3 * @padding;
  &_margin {
    margin: @padding;
  }
  &__icon-container {
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    overflow: visible;
    background: @theme-color-5;
    box-shadow: @light-shadow;
    &_no-shadow {
      box-shadow: @transparent-shadow;
    }
    &_texticon {
      width: 100% !important;
      height: auto !important;
      padding-bottom: 0 !important;
      text-align: center;
      color: @theme-color-2;
      font-weight: bold;
      font-size: @fs-xl;
    }
  }
  &__icon {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__index-container {
    display: inline-flex;
    position: relative;
    z-index: 5;
    top: 14%;
    right: 16%;
    width: 12%;
    height: 0;
    padding-bottom: 12%;
    border-radius: 50%;
    text-align: center;
    background: @theme-color-5;
    box-shadow: @light-shadow;
    color: @theme-color-2;
    font-weight: bold;
  }
  &__index {
    font-size: @fs-md;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__text {
    margin: 0;
    padding-top: @padding;
    min-width: 90%;
    max-width: 90%;
    font-size: @fs-md;
    line-height: @fs-md + @fs-md / 10;
    letter-spacing: @fs-md / 32;
    &_wider {
      min-width: 90%;
      max-width: 90%;
    }
    &_thinner {
      min-width: 90%;
      max-width: 90%;
    }
    &_smaller {
      font-size: @fs-sm;
      line-height: @fs-sm + @fs-sm / 10;
    }
  }
}

/* Mobile */
@media screen and (min-width: @screen-xs) {
  //
}

/* Large Mobile */
@media screen and (min-width: @screen-sm) {
  //
}

/* Tablet */
@media screen and (min-width: @screen-md) {
  .b-notice {
    &__icon-container {
      width: 60%;
      padding-bottom: 60%;
    }
    &__index-container {
      width: 20%;
      padding-bottom: 20%;
      top: 6%;
      right: 20%;
    }
    &__index {
      font-size: @fs-sm;
    }
    &__text {
      font-size: @fs-sm;
      line-height: @fs-sm + @fs-sm / 10;
      &_wider {
        min-width: 150%;
        max-width: 150%;
      }
      &_thinner {
        min-width: 70%;
        max-width: 70%;
      }
    }
  }
}

/* Laptop */
@media screen and (min-width: @screen-lg) {
  .b-notice {
    &__index-container {
      top: 10%;
    }
    &__index {
      font-size: @fs-sm;
    }
  }
}

/* Desktop */
@media screen and (min-width: @screen-xl) {
  .b-notice {
    &__index-container {
      top: 12%;
      right: 24%;
    }
    &__index {
      font-size: @fs-md;
    }
    &__text {
      font-size: @fs-md;
      line-height: @fs-md + @fs-md / 10;
      letter-spacing: @fs-md / 32;
    }
  }
}
