@import "../variables.less";

.b-section {
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;  // !!!!!!!!
  align-items: flex-start;    // !!!!!!!
  font-family: @ff;
  padding-bottom: 3*@padding;
  margin-top: 10rem; // !!!!!!!!!!!!
  &__header {
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
  }
  &__title {
    width: 100%;
    display: inline-block;
    padding-top: 3*@padding;
    margin: 0;
    padding-left: 5*@padding;
    padding-right: 5*@padding;
    // Default (can be overriden with .u-text)
    font-size: @fs-lg;
    line-height: @fs-lg + @fs-lg / 10;
    color: @theme-color-1;
    text-align: center;
    font-family: @ff;
    font-weight: bold;
    letter-spacing: 0rem;
  }
  &__subtitle {
    width: 100%;
    display: inline-block;
    padding-top: @padding;
    margin: 0;
    padding-left: 5*@padding;
    padding-right: 5*@padding;
    // Default (can be overriden with .u-text)
    font-size: @fs-md;
    line-height: @fs-md + @fs-md / 10;
    color: @theme-color-4;
    text-align: center;
    font-family: @ff;
    font-weight: normal;
    letter-spacing: @fs-md / 32;
  }
  &__container {
    margin-top: 3*@padding;
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  &__buttons-container {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }
  &__subinfo {
    width: 100%;
    padding-top: 2.4rem;
    padding-left: 23%;
    padding-right: 23%;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}
