@import "../variables.less";

.b-text {
  color: @theme-color-4;
  display: inline-block;
  background-color: @theme-color-5;
  padding: 2 * @padding @padding;
  flex-grow: 1;
  &__title {
    padding-top: @padding;
    margin: 0;
    width: 100%;
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      color: @theme-color-1;
      font-size: @fs-md;
      line-height: @fs-md + @fs-md / 10;
      letter-spacing: @fs-md / 32;
    }
  }
  & p {
    padding-top: @padding;
    text-align: left;
    margin: 0;
    font-size: @fs-sm;
    line-height: @fs-sm + @fs-md / 10;
  }
  &__paragraph {
    padding-top: @padding;
    text-align: justify;
    margin: 0;
    font-size: @fs-sm;
    line-height: @fs-sm + @fs-md / 10;
  }
}

/* Mobile */
@media screen and (min-width: @screen-xs) {
  .b-text {
    padding: @padding;
    padding-bottom: 2 * @padding;
  }
}

/* Large Mobile */
@media screen and (min-width: @screen-sm) {
  .b-text {
    padding: 2 * @padding;
  }
}

/* Tablet */
@media screen and (min-width: @screen-md) {
  .b-text {
    padding: 3 * @padding;
    &__title {
      width: 70%;
    }
  }
}

/* Laptop */
@media screen and (min-width: @screen-lg) {
  .b-text {
    padding: 4 * @padding;
  }
}

/* Desktop */
@media screen and (min-width: @screen-xl) {
  .b-text {
    padding: 5 * @padding;
  }
}

/* 4K */
@media screen and (min-width: @screen-4k) {
  .b-text {
    padding: 6 * @padding 6 * @padding;
    &__title {
      padding-top: 3 * @padding;
      width: 100%;
      & h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 1.2vw;
        line-height: 1.2vw + 1.2vw / 10;
        letter-spacing: 1.2vw / 32;
      }
    }
    & p {
      padding-top: 2 * @padding;
      text-align: left;
      margin: 0;
      font-size: 1vw;
      line-height: 1vw + 1vw / 10;
    }
    &__paragraph {
      padding-top: 2 * @padding;
      text-align: justify;
      margin: 0;
      font-size: 1vw;
      line-height: 1vw + 1vw / 10;
    }
  }
}
