@import "../variables.less";

.b-text {
  display: inline-block;
  background-color: @theme-color-5;
  &_gray-bgcl {
    background-color: @theme-color-3;
  }
  &__title {
    padding-top: @padding;
    margin: 0;
    color: @theme-color-1;
    font-size: @fs-md;
    line-height: @fs-md + @fs-md / 10;
    letter-spacing: @fs-md / 32;
    // font-size: 1.8rem;
    // line-height: 2rem;
    &_smaller {
      color: lime;
    }
  }
  &__paragraph {
    padding-top: @padding;
    margin: 0;
    font-size: @fs-sm;
    line-height: @fs-sm + @fs-md / 10;
    &_bold {
      // font-weight: bold;
      text-decoration: underline;
    }
    &_larger {
      color: crimson;
      // font-size: 1.4rem;
      // line-height: 1.7rem;
    }
  }
}
