@import "./variables.less";

.bg-main {
  background: url("./../img/bg/main_banner1.jpg") no-repeat;
  background-size: cover !important;
  background-position: left center;
}
.bg-legal {
  background: url("./../img/bg/yurlica_head.jpg") no-repeat;
  background-size: cover !important;
  background-position: left center;
}
.bg-birth {
  background: url("./../img/bg/pregnant_head.jpg") no-repeat;
  background-size: cover !important;
  background-position: left center;
}
.bg-kids {
  background: url("./../img/bg/kids_head.jpg") no-repeat;
  background-size: cover !important;
  background-position: left center;
}
.bg-personal {
  background: url("./../img/bg/fizlica_head.jpg") no-repeat;
  background-size: cover !important;
  background-position: left center;
}
.bg-prosto {
  background: url("./../img/bg/prosto.jpg") no-repeat;
  background-size: cover !important;
}
.bg-reglament_1 {
  background: url("./../img/bg/reglament_1.jpg") no-repeat;
  background-size: cover !important;
}
.bg-feedback {
  background: url("./../img/bg/feedback.jpg") no-repeat;
  background-size: cover !important;
}
.bg-1 {
  background: url("./../img/1.jpg") no-repeat center 0px !important;
  background-size: cover !important;
}
.bg-2 {
  background: url("./../img/2.jpg") no-repeat center 0px !important;
  background-size: cover !important;
}
.bg-3 {
  background: url("./../img/3.jpg") no-repeat center 0px !important;
  background-size: cover !important;
}
.bg-4 {
  background: url("./../img/4.jpg") no-repeat center 0px !important;
  background-size: cover !important;
}
.bg-5 {
  background: url("./../img/5.jpg") no-repeat center 0px !important;
  background-size: cover !important;
}
.bg-6 {
  background: url("./../img/6.jpg") no-repeat 80% center !important;
  background-size: cover !important;
}
.bg-7 {
  background: url("./../img/7.jpg") no-repeat center 0px !important;
  background-size: cover !important;
}
.bg-8 {
  background: url("./../img/8.jpg") no-repeat 0px center !important;
  background-size: cover !important;
}

.bg-9 {
  background: url("./../img/container_kids1.jpg") no-repeat 50% center !important;
  background-size: cover !important;
}

.bg-10 {
  background: url("./../img/container_kids2.jpg") no-repeat 20% center !important;
  background-size: cover !important;
}

.bg-11 {
  background: url("./../img/container_kids3.jpg") no-repeat 50% center !important;
  background-size: cover !important;
}

.bg-12 {
  background: url("./../img/container_kids4.jpg") no-repeat 70% center !important;
  background-size: cover !important;
}

.bg-13 {
  background: url("./../img/nabludenie.jpg") no-repeat 40% center !important;
  background-size: cover !important;
}

.bg-14 {
  background: url("./../img/laboratory.jpg") no-repeat 70% center !important;
  background-size: cover !important;
}

.bg-15 {
  background: url("./../img/travm.jpg") no-repeat 50% bottom !important;
  background-size: 250% !important;
}

.bg-16 {
  background: url("./../img/proceduri.jpg") no-repeat 70% center !important;
  background-size: cover !important;
}

.bg-17 {
  background: url("./../img/dopuslugi.jpg") no-repeat 70% center !important;
  background-size: cover !important;
}

/* Mobile */
@media screen and (min-width: @screen-xs) {
  //
}

/* Large Mobile */
@media screen and (min-width: @screen-sm) {
  //
}

/* Tablet */
@media screen and (min-width: @screen-md) {
}

/* Laptop */
@media screen and (min-width: @screen-lg) {
  .bg-main {
    background-position: right -400px center;
  }
  .bg-legal {
    background-position: right -200px center;
  }
  .bg-birth {
    background-position: right -400px center;
  }
  .bg-kids {
    background-position: right -400px center;
  }
  .bg-personal {
    background-position: right -400px center;
  }
  .bg-prosto {
    background-size: contain !important;
    background-position: center bottom;
  }
  .bg-reglament_1 {
    background-size: contain !important;
    background-position: center bottom;
  }
}

/* Desktop */
@media screen and (min-width: @screen-xl) {
  .bg-main {
    background-position: right 0px center;
  }
  .bg-legal {
    background-position: right 0px center;
  }
  .bg-birth {
    background-position: right 0px center;
  }
  .bg-kids {
    background-position: right 0px center;

    .bg-personal {
      background-position: right 0px center;
    }
  }
}
