@import "./variables.less";

.bg-main {
  background: url("./../img/bg/main_banner1.jpg") no-repeat;
  background-size: cover !important;
  background-position: left center;
}
.bg-prosto {
  // background: @theme-color-3;

  background: url("./../img/bg/prosto.jpg") no-repeat;
  background-size: cover !important;
}
.bg-feedback {
  background: url("./../img/bg/feedback.jpg") no-repeat;
  background-size: cover !important;
}
.bg-1 {
  background: url("./../img/1.jpg") no-repeat center 0px !important;
  background-size: cover !important;
}
.bg-2 {
  background: url("./../img/2.jpg") no-repeat center 0px !important;
  background-size: cover !important;
}
.bg-3 {
  background: url("./../img/3.jpg") no-repeat center 0px !important;
  background-size: cover !important;
}
.bg-4 {
  background: url("./../img/4.jpg") no-repeat center 0px !important;
  background-size: cover !important;
}
.bg-5 {
  background: url("./../img/5.jpg") no-repeat center 0px !important;
  background-size: cover !important;
}
.bg-6 {
  background: url("./../img/6.jpg") no-repeat 80% center !important;
  background-size: cover !important;
}
.bg-7 {
  background: url("./../img/7.jpg") no-repeat center 0px !important;
  background-size: cover !important;
}
.bg-8 {
  background: url("./../img/8.jpg") no-repeat 0px center !important;
  background-size: cover !important;
}
/* Mobile */
@media screen and (min-width: @screen-xs) {
  //
}

/* Large Mobile */
@media screen and (min-width: @screen-sm) {
  //
}

/* Tablet */
@media screen and (min-width: @screen-md) {
}

/* Laptop */
@media screen and (min-width: @screen-lg) {
  .bg-main {
    background-position: right -400px center;
  }
  .bg-prosto {
    background-size: contain !important;
    background-position: center bottom;
  }
}

/* Desktop */
@media screen and (min-width: @screen-xl) {
  .bg-main {
    background-position: right 0px center;
  }
}
