@color: white;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: @color;
  color: lime;
}

.tblock {
  border: 2px solid red;
}

.t-1 {
  background-color: red;
  height: 132px;
  .tblock;
}
.t-2 {
  background-color: orange;
  height: 666px;
  .tblock;
}
.t-3 {
  background-color: yellow;
  height: 790px;
  .tblock;
}
.t-4 {
  background-color: greenyellow;
  height: 524px;
  .tblock;
}
.t-5 {
  background-color: skyblue;
  height: 476px;
  .tblock;
}
.t-6 {
  background-color: blue;
  height: 1080px;
  .tblock;
}
.t-7 {
  background-color: purple;
  height: 648px;
  .tblock;
}
.t-8 {
  background-color: red;
  height: 900px;
  .tblock;
}
.t-9 {
  background-color: orange;
  height: 472px;
  .tblock;
}
.t-10 {
  background-color: yellow;
  height: 860px;
  .tblock;
}
.t-11 {
  background-color: greenyellow;
  height: 2730px;
  .tblock;
}
.t-12 {
  background-color: skyblue;
  height: 680px;
  .tblock;
}
.t-13 {
  background-color: blue;
  height: 620px;
  .tblock;
}
.t-14 {
  background-color: purple;
    height: 266px;
    .tblock;
  }
