@import "./slimselect.css";

@import "./variables.less";
@import "./images.less";

@import "./blocks/b-modal.less";
@import "./blocks/b-nav.less";
@import "./blocks/b-burger.less";
@import "./blocks/b-page.less";
@import "./blocks/b-section.less";
@import "./blocks/b-text.less";
@import "./blocks/b-card.less";
@import "./blocks/b-notice.less";
@import "./blocks/b-form.less";
@import "./blocks/b-calc.less";
@import "./blocks/b-metapage.less";
@import "./blocks/b-header.less";
@import "./blocks/b-footer.less";
@import "./blocks/b-button.less";
@import "./blocks/b-clinics-selector.less";

@import "./utilities/u-text.less";
@import "./utilities/u-container.less";
@import "./utilities/u-color.less";
@import "./utilities/u-animation.less";

html {
    /* Preventing FUOC here */
  transition: visibility 0.1s ease-in, opacity 0.4s ease-in !important;
  visibility: visible !important;
  opacity: 1 !important;
}