@import "./fonts.less";

@ff: Lato, sans-serif;
@theme-color-0: rgb(0, 0, 0);
@theme-color-1: rgb(39, 36, 116); // dont forget to set meta theme-color
@theme-color-2: rgb(224, 11, 108);
@theme-color-3: rgb(242, 248, 248);
@theme-color-4: fadeout(@theme-color-0, 25%); // set "blackness" of text
@theme-color-5: rgb(255, 255, 255);
@lighten-hover: 20%;
@normal-shadow: 0 0 10px rgba(128, 128, 128, 0.6);
@light-shadow: 0 0 10px lightgray;
@transparent-shadow: 4px 4px 6px transparent;

// Font sizes
@fs-xs: 0.8rem;
@fs-sm: 1rem;
@fs-md: 1.3rem;
@fs-lg: 2.1rem;
@fs-xl: 3.2rem;

// Padding
@padding: 1rem;

// Navigation & Main Page ratio
@ratio-nav: 0.08;
@ratio-nav-p: 8%;

// Menu height location
@ratio-menu-vertical: 19vh;

// Burger
@burger-height: 3rem; 

// Screens (assuming 16px = 1rem)
@screen-xs: 30rem - @padding * 2; // 480px -> 448px Mobile   &  Calculator's breakpoint
@screen-sm: 34.25rem - @padding * 2; // 528px -> 496px Large Mobile 
@screen-md: 50rem - 3 * @padding * 2; // 800px -> 704px Tablet
@screen-lg: 75rem - 4 * @padding * 2; // 1200px -> 1072px Laptop
@screen-xl: 111rem - 5 * @padding * 2; // 1776px -> 1616px Desktop
@screen-4k: 190rem - 6 * @padding * 2; // 3040px -> 2848px 4K

@min-point: 0.02px; // Minimal possible point

/* Mobile */
@media screen and (min-width: @screen-xs) {
  //
}

/* Large Mobile */
@media screen and (min-width: @screen-sm) {
  //
}

/* Tablet */
@media screen and (min-width: @screen-md) {
  //
}

/* Laptop */
@media screen and (min-width: @screen-lg) {
  //
}

/* Desktop */
@media screen and (min-width: @screen-xl) {
  //
}

/* 4K */
@media screen and (min-width: @screen-4k) {
  //
}