@import "../variables.less";

.u-color {
  &_ct {
    //_____________Color of Content
    &-black {
      color: @theme-color-4 !important;
    }
    &-white {
      color: @theme-color-5 !important;
    }
    &-pink {
      color: @theme-color-2 !important;
    }
    &-blue {
      color: @theme-color-1 !important;
    }
    &-gray {
      color: @theme-color-3 !important;
    }
  }
  &_bg {
    //_____________Color of Background
    &-black {
      background-color: @theme-color-4 !important;
    }
    &-white {
      background-color: @theme-color-5 !important;
    }
    &-pink {
      background-color: @theme-color-2 !important;
    }
    &-blue {
      background-color: @theme-color-1 !important;
    }
    &-gray {
      background-color: @theme-color-3 !important;
    }
  }
}
