@import "../variables.less";

/* Default behavior & SUPER SMALL screens */
.u-container {
  &_align {
    &-start {
      display: inline-flex;
      flex-flow: row wrap;
      align-content: flex-start;
    }
    &-center {
      display: inline-flex;
      flex-flow: row wrap;
      align-content: center;
    }
    &-end {
      display: inline-flex;
      flex-flow: row wrap;
      align-content: flex-end;
    }
  }
  &_justify {
    &-start {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }
    &-center {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    &-end {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: flex-end;
    }
    &-evenly {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
    &-between {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
  &_padding {
    &-top {
      padding-top: @padding;
      &-no {
        padding-top: 0;
      }
    }
    &-right {
      padding-right: @padding;
      &-no {
        padding-right: 0;
      }
    }
    &-bottom {
      padding-bottom: @padding;
      &-no {
        padding-bottom: 0;
      }
    }
    &-left {
      padding-left: @padding;
      &-no {
        padding-left: 0;
      }
    }
    &-all {
      padding: @padding;
      &-no {
        padding: 0;
      }
    }
  }
  &_margin {
    &-top {
      margin-top: @padding;
      &-no {
        margin-top: 0;
      }
      &-auto {
        margin-top: auto;
      }
    }
    &-right {
      margin-right: @padding;
      &-no {
        margin-right: 0;
      }
      &-auto {
        margin-right: auto;
      }
    }
    &-bottom {
      margin-bottom: @padding;
      &-no {
        margin-bottom: 0;
      }
      &-auto {
        margin-bottom: auto;
      }
    }
    &-left {
      margin-left: @padding;
      &-no {
        margin-left: 0;
      }
      &-auto {
        margin-left: auto;
      }
    }
    &-all {
      margin: @padding;
      &-no {
        margin: 0;
      }
      &-auto {
        margin: auto;
      }
    }
  }
  &_fraction {
    &-1of1 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of2 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of3 {
      min-width: 50%;
      max-width: 50%;
    }
    &-1of4 {
      min-width: 50%;
      max-width: 50%;
    }
    &-1of5 {
      min-width: 50%;
      max-width: 50%;
    }
    &-1of6 {
      min-width: 50%;
      max-width: 50%;
    }
    &-1of7 {
      min-width: 50%;
      max-width: 50%;
    }
    &-1of8 {
      min-width: 50%;
      max-width: 50%;
    }
    &-1of9 {
      min-width: 50%;
      max-width: 50%;
    }
    &-1of10 {
      min-width: 50%;
      max-width: 50%;
    }
    &-1of11 {
      min-width: 50%;
      max-width: 50%;
    }
    &-1of12 {
      min-width: 50%;
      max-width: 50%;
    }
    &-2of3 {
      min-width: 100%;
      max-width: 100%;
    }
    &-2of5 {
      min-width: 100%;
      max-width: 100%;
    }
    &-2of7 {
      min-width: 100%;
      max-width: 100%;
    }
    &-2of9 {
      min-width: 100%;
      max-width: 100%;
    }
    &-2of11 {
      min-width: 100%;
      max-width: 100%;
    }
    &-3of4 {
      min-width: 100%;
      max-width: 100%;
    }
    &-3of5 {
      min-width: 100%;
      max-width: 100%;
    }
    &-3of7 {
      min-width: 100%;
      max-width: 100%;
    }
    &-3of8 {
      min-width: 100%;
      max-width: 100%;
    }
    &-3of10 {
      min-width: 100%;
      max-width: 100%;
    }
    &-3of11 {
      min-width: 100%;
      max-width: 100%;
    }
    &-4of5 {
      min-width: 100%;
      max-width: 100%;
    }
    &-4of7 {
      min-width: 100%;
      max-width: 100%;
    }
    &-4of9 {
      min-width: 100%;
      max-width: 100%;
    }
    &-4of10 {
      min-width: 100%;
      max-width: 100%;
    }
    &-4of11 {
      min-width: 100%;
      max-width: 100%;
    }
    &-5of6 {
      min-width: 100%;
      max-width: 100%;
    }
    &-5of7 {
      min-width: 100%;
      max-width: 100%;
    }
    &-5of8 {
      min-width: 100%;
      max-width: 100%;
    }
    &-5of9 {
      min-width: 100%;
      max-width: 100%;
    }
    &-5of11 {
      min-width: 100%;
      max-width: 100%;
    }
    &-5of12 {
      min-width: 100%;
      max-width: 100%;
    }
    &-6of7 {
      min-width: 100%;
      max-width: 100%;
    }
    &-6of11 {
      min-width: 100%;
      max-width: 100%;
    }
    &-7of8 {
      min-width: 100%;
      max-width: 100%;
    }
    &-7of9 {
      min-width: 100%;
      max-width: 100%;
    }
    &-7of10 {
      min-width: 100%;
      max-width: 100%;
    }
    &-7of11 {
      min-width: 100%;
      max-width: 100%;
    }
    &-7of12 {
      min-width: 100%;
      max-width: 100%;
    }
    &-8of9 {
      min-width: 100%;
      max-width: 100%;
    }
    &-8of11 {
      min-width: 100%;
      max-width: 100%;
    }
    &-9of10 {
      min-width: 100%;
      max-width: 100%;
    }
    &-9of11 {
      min-width: 100%;
      max-width: 100%;
    }
    &-10of11 {
      min-width: 100%;
      max-width: 100%;
    }
    &-11of12 {
      min-width: 100%;
      max-width: 100%;
    }
  }
}

/* Mobile */
@media screen and (min-width: @screen-xs) {
  .u-container {
    &_padding {
      &-top {
        padding-top: @padding;
        &-no {
          padding-top: 0;
        }
      }
      &-right {
        padding-right: @padding;
      }
      &-bottom {
        padding-bottom: @padding;
      }
      &-left {
        padding-left: @padding;
      }
      &-all {
        padding: @padding;
      }
    }
    &_margin {
      &-top {
        margin-top: @padding;
        &-no {
          margin-top: 0;
        }
      }
      &-right {
        margin-right: @padding;
      }
      &-bottom {
        margin-bottom: @padding;
      }
      &-left {
        margin-left: @padding;
      }
      &-all {
        margin: @padding;
      }
    }
  }
}

/* Large Mobile */
@media screen and (min-width: @screen-sm) {
  .u-container {
    &_padding {
      &-top {
        padding-top: 2 * @padding;
        &-no {
          padding-top: 0;
        }
      }
      &-right {
        padding-right: 2 * @padding;
      }
      &-bottom {
        padding-bottom: 2 * @padding;
      }
      &-left {
        padding-left: 2 * @padding;
      }
      &-all {
        padding: 2 * @padding;
      }
    }
    &_margin {
      &-top {
        margin-top: 2 * @padding;
        &-no {
          margin-top: 0;
        }
      }
      &-right {
        margin-right: 2 * @padding;
      }
      &-bottom {
        margin-bottom: 2 * @padding;
      }
      &-left {
        margin-left: 2 * @padding;
      }
      &-all {
        margin: 2 * @padding;
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: @screen-md) {
  .u-container {
    &_padding {
      &-top {
        padding-top: 3 * @padding;
        &-no {
          padding-top: 0;
        }
      }
      &-right {
        padding-right: 3 * @padding;
      }
      &-bottom {
        padding-bottom: 3 * @padding;
      }
      &-left {
        padding-left: 3 * @padding;
      }
      &-all {
        padding: 3 * @padding;
      }
    }
    &_margin {
      &-top {
        margin-top: 3 * @padding;
        &-no {
          margin-top: 0;
        }
      }
      &-right {
        margin-right: 3 * @padding;
      }
      &-bottom {
        margin-bottom: 3 * @padding;
      }
      &-left {
        margin-left: 3 * @padding;
      }
      &-all {
        margin: 3 * @padding;
      }
    }
    &_fraction {
      &-1of1 {
        min-width: @screen-md * (1-@ratio-nav);
        max-width: 100%;
        &-fixed {
          max-width: @screen-md * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-md ;
        }
      }
      &-1of2 {
        min-width: @screen-md / 2 * (1-@ratio-nav);
        max-width: 50%;
        &-fixed {
          min-width: @screen-md / 2 * (1-@ratio-nav);
          max-width: @screen-md / 2 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-md / 2 ;
        }
      }
      &-1of3 {
        min-width: @screen-md / 3 * (1-@ratio-nav);
        max-width: 33.3%;
        &-fixed {
          min-width: @screen-md / 3 * (1-@ratio-nav);
          max-width: @screen-md / 3 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-md / 3 ;
        }
      }
      &-1of4 {
        min-width: @screen-md / 4 * (1-@ratio-nav);
        max-width: 25%;
        &-fixed {
          min-width: @screen-md / 4 * (1-@ratio-nav);
          max-width: @screen-md / 4 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-md / 4 ;
        }
      }
      &-1of5 {
        min-width: @screen-md / 5 * (1-@ratio-nav);
        max-width: 20%;
        &-fixed {
          min-width: @screen-md / 5 * (1-@ratio-nav);
          max-width: @screen-md / 5 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-md / 5 ;
        }
      }
      &-1of6 {
        min-width: @screen-md / 6 * (1-@ratio-nav);
        max-width: 16.6%;
        &-fixed {
          min-width: @screen-md / 6 * (1-@ratio-nav);
          max-width: @screen-md / 6 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-md / 6 ;
        }
      }
      &-1of7 {
        min-width: @screen-md / 7 * (1-@ratio-nav);
        max-width: 14.2%;
        &-fixed {
          min-width: @screen-md / 7 * (1-@ratio-nav);
          max-width: @screen-md / 7 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-md / 7 ;
        }
      }
      &-1of8 {
        min-width: @screen-md / 8 * (1-@ratio-nav);
        max-width: 12.5%;
        &-fixed {
          min-width: @screen-md / 8 * (1-@ratio-nav);
          max-width: @screen-md / 8 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-md / 8 ;
        }
      }
      &-1of9 {
        min-width: @screen-md / 9 * (1-@ratio-nav);
        max-width: 11.1%;
        &-fixed {
          min-width: @screen-md / 9 * (1-@ratio-nav);
          max-width: @screen-md / 9 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-md / 9 ;
        }
      }
      &-1of10 {
        min-width: @screen-md / 10 * (1-@ratio-nav);
        max-width: 10%;
        &-fixed {
          min-width: @screen-md / 10 * (1-@ratio-nav);
          max-width: @screen-md / 10 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-md / 10 ;
        }
      }
      &-1of11 {
        min-width: @screen-md / 11 * (1-@ratio-nav);
        max-width: 9%;
        &-fixed {
          min-width: @screen-md / 11 * (1-@ratio-nav);
          max-width: @screen-md / 11 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-md / 11 ;
        }
      }
      &-1of12 {
        min-width: @screen-md / 12 * (1-@ratio-nav);
        max-width: 8.3%;
        &-fixed {
          min-width: @screen-md / 12 * (1-@ratio-nav);
          max-width: @screen-md / 12 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-md / 12 ;
        }
      }
      &-2of3 {
        min-width: @screen-md / 3 * (1-@ratio-nav) * 2 ;
        max-width: 66.6%;
        &-fixed {
          min-width: @screen-md / 3 * (1-@ratio-nav) * 2 ;
          max-width: @screen-md / 3 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-md / 3) * 2 ;
        }
      }
      &-2of5 {
        min-width: @screen-md / 5 * (1-@ratio-nav) * 2 ;
        max-width: 40%;
        &-fixed {
          min-width: @screen-md / 5 * (1-@ratio-nav) * 2 ;
          max-width: @screen-md / 5 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-md / 5) * 2 ;
        }
      }
      &-2of7 {
        min-width: @screen-md / 7 * (1-@ratio-nav) * 2 ;
        max-width: 28.5%;
        &-fixed {
          min-width: @screen-md / 7 * (1-@ratio-nav) * 2 ;
          max-width: @screen-md / 7 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-md / 7) * 2;
        }
      }
      &-2of9 {
        min-width: @screen-md / 9 * (1-@ratio-nav) * 2 ;
        max-width: 22.2%;
        &-fixed {
          min-width: @screen-md / 9 * (1-@ratio-nav) * 2 ;
          max-width: @screen-md / 9 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-md / 9) * 2 ;
        }
      }
      &-2of11 {
        min-width: @screen-md / 11 * (1-@ratio-nav) * 2 ;
        max-width: 18.1%;
        &-fixed {
          min-width: @screen-md / 11 * (1-@ratio-nav) * 2 ;
          max-width: @screen-md / 11 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-md / 11) * 2 ;
        }
      }
      &-3of4 {
        min-width: @screen-md / 4 * (1-@ratio-nav) * 3 ;
        max-width: 75%;
        &-fixed {
          min-width: @screen-md / 4 * (1-@ratio-nav) * 3 ;
          max-width: @screen-md / 4 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-md / 4) * 3 ;
        }
      }
      &-3of5 {
        min-width: @screen-md / 5 * (1-@ratio-nav) * 3 ;
        max-width: 60%;
        &-fixed {
          min-width: @screen-md / 5 * (1-@ratio-nav) * 3 ;
          max-width: @screen-md / 5 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-md / 5) * 3 ;
        }
      }
      &-3of7 {
        min-width: @screen-md / 7 * (1-@ratio-nav) * 3 ;
        max-width: 42.8%;
        &-fixed {
          min-width: @screen-md / 7 * (1-@ratio-nav) * 3 ;
          max-width: @screen-md / 7 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-md / 7) * 3 ;
        }
      }
      &-3of8 {
        min-width: @screen-md / 8 * (1-@ratio-nav) * 3 ;
        max-width: 37.5%;
        &-fixed {
          min-width: @screen-md / 8 * (1-@ratio-nav) * 3 ;
          max-width: @screen-md / 8 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-md / 8) * 3 ;
        }
      }
      &-3of10 {
        min-width: @screen-md / 10 * (1-@ratio-nav) * 3 ;
        max-width: 30%;
        &-fixed {
          min-width: @screen-md / 10 * (1-@ratio-nav) * 3 ;
          max-width: @screen-md / 10 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-md / 10) * 3 ;
        }
      }
      &-3of11 {
        min-width: @screen-md / 11 * (1-@ratio-nav) * 3 ;
        max-width: 27.2%;
        &-fixed {
          min-width: @screen-md / 11 * (1-@ratio-nav) * 3 ;
          max-width: @screen-md / 11 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-md / 11) * 3 ;
        }
      }
      &-4of5 {
        min-width: @screen-md / 5 * (1-@ratio-nav) * 4 ;
        max-width: 80%;
        &-fixed {
          min-width: @screen-md / 5 * (1-@ratio-nav) * 4 ;
          max-width: @screen-md / 5 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-md / 5) * 5 ;
        }
      }
      &-4of7 {
        min-width: @screen-md / 7 * (1-@ratio-nav) * 4 ;
        max-width: 57.1%;
        &-fixed {
          min-width: @screen-md / 7 * (1-@ratio-nav) * 4 ;
          max-width: @screen-md / 7 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-md / 7) * 4 ;
        }
      }
      &-4of9 {
        min-width: @screen-md / 9 * (1-@ratio-nav) * 4 ;
        max-width: 44.4%;
        &-fixed {
          min-width: @screen-md / 9 * (1-@ratio-nav) * 4 ;
          max-width: @screen-md / 9 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-md / 9) * 4 ;
        }
      }
      &-4of10 {
        min-width: @screen-md / 10 * (1-@ratio-nav) * 4 ;
        max-width: 40%;
        &-fixed {
          min-width: @screen-md / 10 * (1-@ratio-nav) * 4 ;
          max-width: @screen-md / 10 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-md / 10) * 4 ;
        }
      }
      &-4of11 {
        min-width: @screen-md / 11 * (1-@ratio-nav) * 4 ;
        max-width: 36.3%;
        &-fixed {
          min-width: @screen-md / 11 * (1-@ratio-nav) * 4 ;
          max-width: @screen-md / 11 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-md / 11) * 4 ;
        }
      }
      &-5of6 {
        min-width: @screen-md / 6 * (1-@ratio-nav) * 5 ;
        max-width: 83.3%;
        &-fixed {
          min-width: @screen-md / 6 * (1-@ratio-nav) * 5 ;
          max-width: @screen-md / 6 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-md / 6) * 5 ;
        }
      }
      &-5of7 {
        min-width: @screen-md / 7 * (1-@ratio-nav) * 5 ;
        max-width: 71.4%;
        &-fixed {
          min-width: @screen-md / 7 * (1-@ratio-nav) * 5 ;
          max-width: @screen-md / 7 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-md / 7) * 5 ;
        }
      }
      &-5of8 {
        min-width: @screen-md / 8 * (1-@ratio-nav) * 5 ;
        max-width: 62.5%;
        &-fixed {
          min-width: @screen-md / 8 * (1-@ratio-nav) * 5 ;
          max-width: @screen-md / 8 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-md / 8) * 5 ;
        }
      }
      &-5of9 {
        min-width: @screen-md / 9 * (1-@ratio-nav) * 5 ;
        max-width: 55.5%;
        &-fixed {
          min-width: @screen-md / 9 * (1-@ratio-nav) * 5 ;
          max-width: @screen-md / 9 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-md / 9) * 5 ;
        }
      }
      &-5of11 {
        min-width: @screen-md / 11 * (1-@ratio-nav) * 5 ;
        max-width: 45.4%;
        &-fixed {
          min-width: @screen-md / 11 * (1-@ratio-nav) * 5 ;
          max-width: @screen-md / 11 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-md / 11) * 5 ;
        }
      }
      &-5of12 {
        min-width: @screen-md / 12 * (1-@ratio-nav) * 5 ;
        max-width: 41.6%;
        &-fixed {
          min-width: @screen-md / 12 * (1-@ratio-nav) * 5 ;
          max-width: @screen-md / 12 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-md / 12) * 5 ;
        }
      }
      &-6of7 {
        min-width: @screen-md / 7 * (1-@ratio-nav) * 6 ;
        max-width: 85.7%;
        &-fixed {
          min-width: @screen-md / 7 * (1-@ratio-nav) * 6 ;
          max-width: @screen-md / 7 * (1-@ratio-nav) * 6 ;
        }
        &-full {
          min-width: (@screen-md / 7) * 6 ;
        }
      }
      &-6of11 {
        min-width: @screen-md / 11 * (1-@ratio-nav) * 6 ;
        max-width: 54.4%;
        &-fixed {
          min-width: @screen-md / 11 * (1-@ratio-nav) * 6 ;
          max-width: @screen-md / 11 * (1-@ratio-nav) * 6 ;
        }
        &-full {
          min-width: (@screen-md / 11) * 6 ;
        }
      }
      &-7of8 {
        min-width: @screen-md / 8 * (1-@ratio-nav) * 7 ;
        max-width: 87.5%;
        &-fixed {
          min-width: @screen-md / 8 * (1-@ratio-nav) * 7 ;
          max-width: @screen-md / 8 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-md / 8) * 7 ;
        }
      }
      &-7of9 {
        min-width: @screen-md / 9 * (1-@ratio-nav) * 7 ;
        max-width: 77.7%;
        &-fixed {
          min-width: @screen-md / 9 * (1-@ratio-nav) * 7 ;
          max-width: @screen-md / 9 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-md / 9) * 7 ;
        }
      }
      &-7of10 {
        min-width: @screen-md / 10 * (1-@ratio-nav) * 7 ;
        max-width: 70%;
        &-fixed {
          min-width: @screen-md / 10 * (1-@ratio-nav) * 7 ;
          max-width: @screen-md / 10 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-md / 10) * 7 ;
        }
      }
      &-7of11 {
        min-width: @screen-md / 11 * (1-@ratio-nav) * 7 ;
        max-width: 63.6%;
        &-fixed {
          min-width: @screen-md / 11 * (1-@ratio-nav) * 7 ;
          max-width: @screen-md / 11 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-md / 11) * 7 ;
        }
      }
      &-7of12 {
        min-width: @screen-md / 12 * (1-@ratio-nav) * 7 ;
        max-width: 58.3%;
        &-fixed {
          min-width: @screen-md / 12 * (1-@ratio-nav) * 7 ;
          max-width: @screen-md / 12 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-md / 12) * 7 ;
        }
      }
      &-8of9 {
        min-width: @screen-md / 9 * (1-@ratio-nav) * 8 ;
        max-width: 88.8%;
        &-fixed {
          min-width: @screen-md / 9 * (1-@ratio-nav) * 8 ;
          max-width: @screen-md / 9 * (1-@ratio-nav) * 8 ;
        }
        &-full {
          min-width: (@screen-md / 9) * 8 ;
        }
      }
      &-8of11 {
        min-width: @screen-md / 11 * (1-@ratio-nav) * 8 ;
        max-width: 72.7%;
        &-fixed {
          min-width: @screen-md / 11 * (1-@ratio-nav) * 8 ;
          max-width: @screen-md / 11 * (1-@ratio-nav) * 8 ;
        }
        &-full {
          min-width: (@screen-md / 11) * 8 ;
        }
      }
      &-9of10 {
        min-width: @screen-md / 10 * (1-@ratio-nav) * 9 ;
        max-width: 90%;
        &-fixed {
          min-width: @screen-md / 10 * (1-@ratio-nav) * 9 ;
          max-width: @screen-md / 10 * (1-@ratio-nav) * 9 ;
        }
        &-full {
          min-width: (@screen-md / 10) * 9 ;
        }
      }
      &-9of11 {
        min-width: @screen-md / 11 * (1-@ratio-nav) * 9 ;
        max-width: 81.8%;
        &-fixed {
          min-width: @screen-md / 11 * (1-@ratio-nav) * 9 ;
          max-width: @screen-md / 11 * (1-@ratio-nav) * 9 ;
        }
        &-full {
          min-width: (@screen-md / 11) * 9 ;
        }
      }
      &-10of11 {
        min-width: @screen-md / 11 * (1-@ratio-nav) * 10 ;
        max-width: 90.9%;
        &-fixed {
          min-width: @screen-md / 11 * (1-@ratio-nav) * 10 ;
          max-width: @screen-md / 11 * (1-@ratio-nav) * 10 ;
        }
        &-full {
          min-width: (@screen-md / 11) * 10 ;
        }
      }
      &-11of12 {
        min-width: @screen-md / 12 * (1-@ratio-nav) * 11 ;
        max-width: 91.6%;
        &-fixed {
          min-width: @screen-md / 12 * (1-@ratio-nav) * 11 ;
          max-width: @screen-md / 12 * (1-@ratio-nav) * 11 ;
        }
        &-full {
          min-width: (@screen-md / 12) * 11 ;
        }
      }
    }
  }
}

/* Laptop */
@media screen and (min-width: @screen-lg) {
  .u-container {
    &_padding {
      &-top {
        padding-top: 4 * @padding;
        &-no {
          padding-top: 0;
        }
      }
      &-right {
        padding-right: 4 * @padding;
      }
      &-bottom {
        padding-bottom: 4 * @padding;
      }
      &-left {
        padding-left: 4 * @padding;
      }
      &-all {
        padding: 4 * @padding;
      }
    }
    &_margin {
      &-top {
        margin-top: 4 * @padding;
        &-no {
          margin-top: 0;
        }
      }
      &-right {
        margin-right: 4 * @padding;
      }
      &-bottom {
        margin-bottom: 4 * @padding;
      }
      &-left {
        margin-left: 4 * @padding;
      }
      &-all {
        margin: 4 * @padding;
      }
    }
    &_fraction {
      &-1of1 {
        min-width: @screen-lg * (1-@ratio-nav);
        max-width: 100%;
        &-fixed {
          min-width: @screen-lg * (1-@ratio-nav);
          max-width: @screen-lg * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-lg ;
        }
      }
      &-1of2 {
        min-width: @screen-lg / 2 * (1-@ratio-nav);
        max-width: 50%;
        &-fixed {
          min-width: @screen-lg / 2 * (1-@ratio-nav);
          max-width: @screen-lg / 2 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-lg / 2 ;
        }
      }
      &-1of3 {
        min-width: @screen-lg / 3 * (1-@ratio-nav);
        max-width: 33.3%;
        &-fixed {
          min-width: @screen-lg / 3 * (1-@ratio-nav);
          max-width: @screen-lg / 3 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-lg / 3 ;
        }
      }
      &-1of4 {
        min-width: @screen-lg / 4 * (1-@ratio-nav);
        max-width: 25%;
        &-fixed {
          min-width: @screen-lg / 4 * (1-@ratio-nav);
          max-width: @screen-lg / 4 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-lg / 4 ;
        }
      }
      &-1of5 {
        min-width: @screen-lg / 5 * (1-@ratio-nav);
        max-width: 20%;
        &-fixed {
          min-width: @screen-lg / 5 * (1-@ratio-nav);
          max-width: @screen-lg / 5 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-lg / 5 ;
        }
      }
      &-1of6 {
        min-width: @screen-lg / 6 * (1-@ratio-nav);
        max-width: 16.6%;
        &-fixed {
          min-width: @screen-lg / 6 * (1-@ratio-nav);
          max-width: @screen-lg / 6 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-lg / 6 ;
        }
      }
      &-1of7 {
        min-width: @screen-lg / 7 * (1-@ratio-nav);
        max-width: 14.2%;
        &-fixed {
          min-width: @screen-lg / 7 * (1-@ratio-nav);
          max-width: @screen-lg / 7 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-lg / 7 ;
        }
      }
      &-1of8 {
        min-width: @screen-lg / 8 * (1-@ratio-nav);
        max-width: 12.5%;
        &-fixed {
          min-width: @screen-lg / 8 * (1-@ratio-nav);
          max-width: @screen-lg / 8 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-lg / 8 ;
        }
      }
      &-1of9 {
        min-width: @screen-lg / 9 * (1-@ratio-nav);
        max-width: 11.1%;
        &-fixed {
          min-width: @screen-lg / 9 * (1-@ratio-nav);
          max-width: @screen-lg / 9 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-lg / 9 ;
        }
      }
      &-1of10 {
        min-width: @screen-lg / 10 * (1-@ratio-nav);
        max-width: 10%;
        &-fixed {
          min-width: @screen-lg / 10 * (1-@ratio-nav);
          max-width: @screen-lg / 10 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-lg / 10 ;
        }
      }
      &-1of11 {
        min-width: @screen-lg / 11 * (1-@ratio-nav);
        max-width: 9%;
        &-fixed {
          min-width: @screen-lg / 11 * (1-@ratio-nav);
          max-width: @screen-lg / 11 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-lg / 11 ;
        }
      }
      &-1of12 {
        min-width: @screen-lg / 12 * (1-@ratio-nav);
        max-width: 8.3%;
        &-fixed {
          min-width: @screen-lg / 12 * (1-@ratio-nav);
          max-width: @screen-lg / 12 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-lg / 12 ;
        }
      }
      &-2of3 {
        min-width: @screen-lg / 3 * (1-@ratio-nav) * 2 ;
        max-width: 66.6%;
        &-fixed {
          min-width: @screen-lg / 3 * (1-@ratio-nav) * 2 ;
          max-width: @screen-lg / 3 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-lg / 3) * 2 ;
        }
      }
      &-2of5 {
        min-width: @screen-lg / 5 * (1-@ratio-nav) * 2 ;
        max-width: 40%;
        &-fixed {
          min-width: @screen-lg / 5 * (1-@ratio-nav) * 2 ;
          max-width: @screen-lg / 5 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-lg / 5) * 2 ;
        }
      }
      &-2of7 {
        min-width: @screen-lg / 7 * (1-@ratio-nav) * 2 ;
        max-width: 28.5%;
        &-fixed {
          min-width: @screen-lg / 7 * (1-@ratio-nav) * 2 ;
          max-width: @screen-lg / 7 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-lg / 7) * 2;
        }
      }
      &-2of9 {
        min-width: @screen-lg / 9 * (1-@ratio-nav) * 2 ;
        max-width: 22.2%;
        &-fixed {
          min-width: @screen-lg / 9 * (1-@ratio-nav) * 2 ;
          max-width: @screen-lg / 9 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-lg / 9) * 2 ;
        }
      }
      &-2of11 {
        min-width: @screen-lg / 11 * (1-@ratio-nav) * 2 ;
        max-width: 18.1%;
        &-fixed {
          min-width: @screen-lg / 11 * (1-@ratio-nav) * 2 ;
          max-width: @screen-lg / 11 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-lg / 11) * 2 ;
        }
      }
      &-3of4 {
        min-width: @screen-lg / 4 * (1-@ratio-nav) * 3 ;
        max-width: 75%;
        &-fixed {
          min-width: @screen-lg / 4 * (1-@ratio-nav) * 3 ;
          max-width: @screen-lg / 4 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-lg / 4) * 3 ;
        }
      }
      &-3of5 {
        min-width: @screen-lg / 5 * (1-@ratio-nav) * 3 ;
        max-width: 60%;
        &-fixed {
          min-width: @screen-lg / 5 * (1-@ratio-nav) * 3 ;
          max-width: @screen-lg / 5 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-lg / 5) * 3 ;
        }
      }
      &-3of7 {
        min-width: @screen-lg / 7 * (1-@ratio-nav) * 3 ;
        max-width: 42.8%;
        &-fixed {
          min-width: @screen-lg / 7 * (1-@ratio-nav) * 3 ;
          max-width: @screen-lg / 7 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-lg / 7) * 3 ;
        }
      }
      &-3of8 {
        min-width: @screen-lg / 8 * (1-@ratio-nav) * 3 ;
        max-width: 37.5%;
        &-fixed {
          min-width: @screen-lg / 8 * (1-@ratio-nav) * 3 ;
          max-width: @screen-lg / 8 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-lg / 8) * 3 ;
        }
      }
      &-3of10 {
        min-width: @screen-lg / 10 * (1-@ratio-nav) * 3 ;
        max-width: 30%;
        &-fixed {
          min-width: @screen-lg / 10 * (1-@ratio-nav) * 3 ;
          max-width: @screen-lg / 10 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-lg / 10) * 3 ;
        }
      }
      &-3of11 {
        min-width: @screen-lg / 11 * (1-@ratio-nav) * 3 ;
        max-width: 27.2%;
        &-fixed {
          min-width: @screen-lg / 11 * (1-@ratio-nav) * 3 ;
          max-width: @screen-lg / 11 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-lg / 11) * 3 ;
        }
      }
      &-4of5 {
        min-width: @screen-lg / 5 * (1-@ratio-nav) * 4 ;
        max-width: 80%;
        &-fixed {
          min-width: @screen-lg / 5 * (1-@ratio-nav) * 4 ;
          max-width: @screen-lg / 5 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-lg / 5) * 5 ;
        }
      }
      &-4of7 {
        min-width: @screen-lg / 7 * (1-@ratio-nav) * 4 ;
        max-width: 57.1%;
        &-fixed {
          min-width: @screen-lg / 7 * (1-@ratio-nav) * 4 ;
          max-width: @screen-lg / 7 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-lg / 7) * 4 ;
        }
      }
      &-4of9 {
        min-width: @screen-lg / 9 * (1-@ratio-nav) * 4 ;
        max-width: 44.4%;
        &-fixed {
          min-width: @screen-lg / 9 * (1-@ratio-nav) * 4 ;
          max-width: @screen-lg / 9 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-lg / 9) * 4 ;
        }
      }
      &-4of10 {
        min-width: @screen-lg / 10 * (1-@ratio-nav) * 4 ;
        max-width: 40%;
        &-fixed {
          min-width: @screen-lg / 10 * (1-@ratio-nav) * 4 ;
          max-width: @screen-lg / 10 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-lg / 10) * 4 ;
        }
      }
      &-4of11 {
        min-width: @screen-lg / 11 * (1-@ratio-nav) * 4 ;
        max-width: 36.3%;
        &-fixed {
          min-width: @screen-lg / 11 * (1-@ratio-nav) * 4 ;
          max-width: @screen-lg / 11 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-lg / 11) * 4 ;
        }
      }
      &-5of6 {
        min-width: @screen-lg / 6 * (1-@ratio-nav) * 5 ;
        max-width: 83.3%;
        &-fixed {
          min-width: @screen-lg / 6 * (1-@ratio-nav) * 5 ;
          max-width: @screen-lg / 6 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-lg / 6) * 5 ;
        }
      }
      &-5of7 {
        min-width: @screen-lg / 7 * (1-@ratio-nav) * 5 ;
        max-width: 71.4%;
        &-fixed {
          min-width: @screen-lg / 7 * (1-@ratio-nav) * 5 ;
          max-width: @screen-lg / 7 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-lg / 7) * 5 ;
        }
      }
      &-5of8 {
        min-width: @screen-lg / 8 * (1-@ratio-nav) * 5 ;
        max-width: 62.5%;
        &-fixed {
          min-width: @screen-lg / 8 * (1-@ratio-nav) * 5 ;
          max-width: @screen-lg / 8 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-lg / 8) * 5 ;
        }
      }
      &-5of9 {
        min-width: @screen-lg / 9 * (1-@ratio-nav) * 5 ;
        max-width: 55.5%;
        &-fixed {
          min-width: @screen-lg / 9 * (1-@ratio-nav) * 5 ;
          max-width: @screen-lg / 9 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-lg / 9) * 5 ;
        }
      }
      &-5of11 {
        min-width: @screen-lg / 11 * (1-@ratio-nav) * 5 ;
        max-width: 45.4%;
        &-fixed {
          min-width: @screen-lg / 11 * (1-@ratio-nav) * 5 ;
          max-width: @screen-lg / 11 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-lg / 11) * 5 ;
        }
      }
      &-5of12 {
        min-width: @screen-lg / 12 * (1-@ratio-nav) * 5 ;
        max-width: 41.6%;
        &-fixed {
          min-width: @screen-lg / 12 * (1-@ratio-nav) * 5 ;
          max-width: @screen-lg / 12 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-lg / 12) * 5 ;
        }
      }
      &-6of7 {
        min-width: @screen-lg / 7 * (1-@ratio-nav) * 6 ;
        max-width: 85.7%;
        &-fixed {
          min-width: @screen-lg / 7 * (1-@ratio-nav) * 6 ;
          max-width: @screen-lg / 7 * (1-@ratio-nav) * 6 ;
        }
        &-full {
          min-width: (@screen-lg / 7) * 6 ;
        }
      }
      &-6of11 {
        min-width: @screen-lg / 11 * (1-@ratio-nav) * 6 ;
        max-width: 54.4%;
        &-fixed {
          min-width: @screen-lg / 11 * (1-@ratio-nav) * 6 ;
          max-width: @screen-lg / 11 * (1-@ratio-nav) * 6 ;
        }
        &-full {
          min-width: (@screen-lg / 11) * 6 ;
        }
      }
      &-7of8 {
        min-width: @screen-lg / 8 * (1-@ratio-nav) * 7 ;
        max-width: 87.5%;
        &-fixed {
          min-width: @screen-lg / 8 * (1-@ratio-nav) * 7 ;
          max-width: @screen-lg / 8 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-lg / 8) * 7 ;
        }
      }
      &-7of9 {
        min-width: @screen-lg / 9 * (1-@ratio-nav) * 7 ;
        max-width: 77.7%;
        &-fixed {
          min-width: @screen-lg / 9 * (1-@ratio-nav) * 7 ;
          max-width: @screen-lg / 9 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-lg / 9) * 7 ;
        }
      }
      &-7of10 {
        min-width: @screen-lg / 10 * (1-@ratio-nav) * 7 ;
        max-width: 70%;
        &-fixed {
          min-width: @screen-lg / 10 * (1-@ratio-nav) * 7 ;
          max-width: @screen-lg / 10 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-lg / 10) * 7 ;
        }
      }
      &-7of11 {
        min-width: @screen-lg / 11 * (1-@ratio-nav) * 7 ;
        max-width: 63.6%;
        &-fixed {
          min-width: @screen-lg / 11 * (1-@ratio-nav) * 7 ;
          max-width: @screen-lg / 11 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-lg / 11) * 7 ;
        }
      }
      &-7of12 {
        min-width: @screen-lg / 12 * (1-@ratio-nav) * 7 ;
        max-width: 58.3%;
        &-fixed {
          min-width: @screen-lg / 12 * (1-@ratio-nav) * 7 ;
          max-width: @screen-lg / 12 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-lg / 12) * 7 ;
        }
      }
      &-8of9 {
        min-width: @screen-lg / 9 * (1-@ratio-nav) * 8 ;
        max-width: 88.8%;
        &-fixed {
          min-width: @screen-lg / 9 * (1-@ratio-nav) * 8 ;
          max-width: @screen-lg / 9 * (1-@ratio-nav) * 8 ;
        }
        &-full {
          min-width: (@screen-lg / 9) * 8 ;
        }
      }
      &-8of11 {
        min-width: @screen-lg / 11 * (1-@ratio-nav) * 8 ;
        max-width: 72.7%;
        &-fixed {
          min-width: @screen-lg / 11 * (1-@ratio-nav) * 8 ;
          max-width: @screen-lg / 11 * (1-@ratio-nav) * 8 ;
        }
        &-full {
          min-width: (@screen-lg / 11) * 8 ;
        }
      }
      &-9of10 {
        min-width: @screen-lg / 10 * (1-@ratio-nav) * 9 ;
        max-width: 90%;
        &-fixed {
          min-width: @screen-lg / 10 * (1-@ratio-nav) * 9 ;
          max-width: @screen-lg / 10 * (1-@ratio-nav) * 9 ;
        }
        &-full {
          min-width: (@screen-lg / 10) * 9 ;
        }
      }
      &-9of11 {
        min-width: @screen-lg / 11 * (1-@ratio-nav) * 9 ;
        max-width: 81.8%;
        &-fixed {
          min-width: @screen-lg / 11 * (1-@ratio-nav) * 9 ;
          max-width: @screen-lg / 11 * (1-@ratio-nav) * 9 ;
        }
        &-full {
          min-width: (@screen-lg / 11) * 9 ;
        }
      }
      &-10of11 {
        min-width: @screen-lg / 11 * (1-@ratio-nav) * 10 ;
        max-width: 90.9%;
        &-fixed {
          min-width: @screen-lg / 11 * (1-@ratio-nav) * 10 ;
          max-width: @screen-lg / 11 * (1-@ratio-nav) * 10 ;
        }
        &-full {
          min-width: (@screen-lg / 11) * 10 ;
        }
      }
      &-11of12 {
        min-width: @screen-lg / 12 * (1-@ratio-nav) * 11 ;
        max-width: 91.6%;
        &-fixed {
          min-width: @screen-lg / 12 * (1-@ratio-nav) * 11 ;
          max-width: @screen-lg / 12 * (1-@ratio-nav) * 11 ;
        }
        &-full {
          min-width: (@screen-lg / 12) * 11 ;
        }
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: @screen-xl) {
  .u-container {
    &_padding {
      &-top {
        padding-top: 5 * @padding;
        &-no {
          padding-top: 0;
        }
      }
      &-right {
        padding-right: 5 * @padding;
      }
      &-bottom {
        padding-bottom: 5 * @padding;
      }
      &-left {
        padding-left: 5 * @padding;
      }
      &-all {
        padding: 5 * @padding;
      }
    }
    &_margin {
      &-top {
        margin-top: 5 * @padding;
        &-no {
          margin-top: 0;
        }
      }
      &-right {
        margin-right: 5 * @padding;
      }
      &-bottom {
        margin-bottom: 5 * @padding;
      }
      &-left {
        margin-left: 5 * @padding;
      }
      &-all {
        margin: 5 * @padding;
      }
    }
    &_fraction {
      &-1of1 {
        min-width: @screen-xl * (1-@ratio-nav);
        max-width: 100%;
        &-fixed {
          min-width: @screen-xl * (1-@ratio-nav);
          max-width: @screen-xl * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-xl ;
        }
      }
      &-1of2 {
        min-width: @screen-xl / 2 * (1-@ratio-nav);
        max-width: 50%;
        &-fixed {
          min-width: @screen-xl / 2 * (1-@ratio-nav);
          max-width: @screen-xl / 2 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-xl / 2 ;
        }
      }
      &-1of3 {
        min-width: @screen-xl / 3 * (1-@ratio-nav);
        max-width: 33.3%;
        &-fixed {
          min-width: @screen-xl / 3 * (1-@ratio-nav);
          max-width: @screen-xl / 3 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-xl / 3 ;
        }
      }
      &-1of4 {
        min-width: @screen-xl / 4 * (1-@ratio-nav);
        max-width: 25%;
        &-fixed {
          min-width: @screen-xl / 4 * (1-@ratio-nav);
          max-width: @screen-xl / 4 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-xl / 4 ;
        }
      }
      &-1of5 {
        min-width: @screen-xl / 5 * (1-@ratio-nav);
        max-width: 20%;
        &-fixed {
          min-width: @screen-xl / 5 * (1-@ratio-nav);
          max-width: @screen-xl / 5 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-xl / 5 ;
        }
      }
      &-1of6 {
        min-width: @screen-xl / 6 * (1-@ratio-nav);
        max-width: 16.6%;
        &-fixed {
          min-width: @screen-xl / 6 * (1-@ratio-nav);
          max-width: @screen-xl / 6 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-xl / 6 ;
        }
      }
      &-1of7 {
        min-width: @screen-xl / 7 * (1-@ratio-nav);
        max-width: 14.2%;
        &-fixed {
          min-width: @screen-xl / 7 * (1-@ratio-nav);
          max-width: @screen-xl / 7 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-xl / 7 ;
        }
      }
      &-1of8 {
        min-width: @screen-xl / 8 * (1-@ratio-nav);
        max-width: 12.5%;
        &-fixed {
          min-width: @screen-xl / 8 * (1-@ratio-nav);
          max-width: @screen-xl / 8 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-xl / 8 ;
        }
      }
      &-1of9 {
        min-width: @screen-xl / 9 * (1-@ratio-nav);
        max-width: 11.1%;
        &-fixed {
          min-width: @screen-xl / 9 * (1-@ratio-nav);
          max-width: @screen-xl / 9 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-xl / 9 ;
        }
      }
      &-1of10 {
        min-width: @screen-xl / 10 * (1-@ratio-nav);
        max-width: 10%;
        &-fixed {
          min-width: @screen-xl / 10 * (1-@ratio-nav);
          max-width: @screen-xl / 10 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-xl / 10 ;
        }
      }
      &-1of11 {
        min-width: @screen-xl / 11 * (1-@ratio-nav);
        max-width: 9%;
        &-fixed {
          min-width: @screen-xl / 11 * (1-@ratio-nav);
          max-width: @screen-xl / 11 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-xl / 11 ;
        }
      }
      &-1of12 {
        min-width: @screen-xl / 12 * (1-@ratio-nav);
        max-width: 8.3%;
        &-fixed {
          min-width: @screen-xl / 12 * (1-@ratio-nav);
          max-width: @screen-xl / 12 * (1-@ratio-nav);
        }
        &-full {
          min-width: @screen-xl / 12 ;
        }
      }
      &-2of3 {
        min-width: @screen-xl / 3 * (1-@ratio-nav) * 2 ;
        max-width: 66.6%;
        &-fixed {
          min-width: @screen-xl / 3 * (1-@ratio-nav) * 2 ;
          max-width: @screen-xl / 3 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-xl / 3) * 2 ;
        }
      }
      &-2of5 {
        min-width: @screen-xl / 5 * (1-@ratio-nav) * 2 ;
        max-width: 40%;
        &-fixed {
          min-width: @screen-xl / 5 * (1-@ratio-nav) * 2 ;
          max-width: @screen-xl / 5 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-xl / 5) * 2 ;
        }
      }
      &-2of7 {
        min-width: @screen-xl / 7 * (1-@ratio-nav) * 2 ;
        max-width: 28.5%;
        &-fixed {
          min-width: @screen-xl / 7 * (1-@ratio-nav) * 2 ;
          max-width: @screen-xl / 7 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-xl / 7) * 2;
        }
      }
      &-2of9 {
        min-width: @screen-xl / 9 * (1-@ratio-nav) * 2 ;
        max-width: 22.2%;
        &-fixed {
          min-width: @screen-xl / 9 * (1-@ratio-nav) * 2 ;
          max-width: @screen-xl / 9 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-xl / 9) * 2 ;
        }
      }
      &-2of11 {
        min-width: @screen-xl / 11 * (1-@ratio-nav) * 2 ;
        max-width: 18.1%;
        &-fixed {
          min-width: @screen-xl / 11 * (1-@ratio-nav) * 2 ;
          max-width: @screen-xl / 11 * (1-@ratio-nav) * 2 ;
        }
        &-full {
          min-width: (@screen-xl / 11) * 2 ;
        }
      }
      &-3of4 {
        min-width: @screen-xl / 4 * (1-@ratio-nav) * 3 ;
        max-width: 75%;
        &-fixed {
          min-width: @screen-xl / 4 * (1-@ratio-nav) * 3 ;
          max-width: @screen-xl / 4 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-xl / 4) * 3 ;
        }
      }
      &-3of5 {
        min-width: @screen-xl / 5 * (1-@ratio-nav) * 3 ;
        max-width: 60%;
        &-fixed {
          min-width: @screen-xl / 5 * (1-@ratio-nav) * 3 ;
          max-width: @screen-xl / 5 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-xl / 5) * 3 ;
        }
      }
      &-3of7 {
        min-width: @screen-xl / 7 * (1-@ratio-nav) * 3 ;
        max-width: 42.8%;
        &-fixed {
          min-width: @screen-xl / 7 * (1-@ratio-nav) * 3 ;
          max-width: @screen-xl / 7 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-xl / 7) * 3 ;
        }
      }
      &-3of8 {
        min-width: @screen-xl / 8 * (1-@ratio-nav) * 3 ;
        max-width: 37.5%;
        &-fixed {
          min-width: @screen-xl / 8 * (1-@ratio-nav) * 3 ;
          max-width: @screen-xl / 8 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-xl / 8) * 3 ;
        }
      }
      &-3of10 {
        min-width: @screen-xl / 10 * (1-@ratio-nav) * 3 ;
        max-width: 30%;
        &-fixed {
          min-width: @screen-xl / 10 * (1-@ratio-nav) * 3 ;
          max-width: @screen-xl / 10 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-xl / 10) * 3 ;
        }
      }
      &-3of11 {
        min-width: @screen-xl / 11 * (1-@ratio-nav) * 3 ;
        max-width: 27.2%;
        &-fixed {
          min-width: @screen-xl / 11 * (1-@ratio-nav) * 3 ;
          max-width: @screen-xl / 11 * (1-@ratio-nav) * 3 ;
        }
        &-full {
          min-width: (@screen-xl / 11) * 3 ;
        }
      }
      &-4of5 {
        min-width: @screen-xl / 5 * (1-@ratio-nav) * 4 ;
        max-width: 80%;
        &-fixed {
          min-width: @screen-xl / 5 * (1-@ratio-nav) * 4 ;
          max-width: @screen-xl / 5 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-xl / 5) * 5 ;
        }
      }
      &-4of7 {
        min-width: @screen-xl / 7 * (1-@ratio-nav) * 4 ;
        max-width: 57.1%;
        &-fixed {
          min-width: @screen-xl / 7 * (1-@ratio-nav) * 4 ;
          max-width: @screen-xl / 7 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-xl / 7) * 4 ;
        }
      }
      &-4of9 {
        min-width: @screen-xl / 9 * (1-@ratio-nav) * 4 ;
        max-width: 44.4%;
        &-fixed {
          min-width: @screen-xl / 9 * (1-@ratio-nav) * 4 ;
          max-width: @screen-xl / 9 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-xl / 9) * 4 ;
        }
      }
      &-4of10 {
        min-width: @screen-xl / 10 * (1-@ratio-nav) * 4 ;
        max-width: 40%;
        &-fixed {
          min-width: @screen-xl / 10 * (1-@ratio-nav) * 4 ;
          max-width: @screen-xl / 10 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-xl / 10) * 4 ;
        }
      }
      &-4of11 {
        min-width: @screen-xl / 11 * (1-@ratio-nav) * 4 ;
        max-width: 36.3%;
        &-fixed {
          min-width: @screen-xl / 11 * (1-@ratio-nav) * 4 ;
          max-width: @screen-xl / 11 * (1-@ratio-nav) * 4 ;
        }
        &-full {
          min-width: (@screen-xl / 11) * 4 ;
        }
      }
      &-5of6 {
        min-width: @screen-xl / 6 * (1-@ratio-nav) * 5 ;
        max-width: 83.3%;
        &-fixed {
          min-width: @screen-xl / 6 * (1-@ratio-nav) * 5 ;
          max-width: @screen-xl / 6 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-xl / 6) * 5 ;
        }
      }
      &-5of7 {
        min-width: @screen-xl / 7 * (1-@ratio-nav) * 5 ;
        max-width: 71.4%;
        &-fixed {
          min-width: @screen-xl / 7 * (1-@ratio-nav) * 5 ;
          max-width: @screen-xl / 7 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-xl / 7) * 5 ;
        }
      }
      &-5of8 {
        min-width: @screen-xl / 8 * (1-@ratio-nav) * 5 ;
        max-width: 62.5%;
        &-fixed {
          min-width: @screen-xl / 8 * (1-@ratio-nav) * 5 ;
          max-width: @screen-xl / 8 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-xl / 8) * 5 ;
        }
      }
      &-5of9 {
        min-width: @screen-xl / 9 * (1-@ratio-nav) * 5 ;
        max-width: 55.5%;
        &-fixed {
          min-width: @screen-xl / 9 * (1-@ratio-nav) * 5 ;
          max-width: @screen-xl / 9 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-xl / 9) * 5 ;
        }
      }
      &-5of11 {
        min-width: @screen-xl / 11 * (1-@ratio-nav) * 5 ;
        max-width: 45.4%;
        &-fixed {
          min-width: @screen-xl / 11 * (1-@ratio-nav) * 5 ;
          max-width: @screen-xl / 11 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-xl / 11) * 5 ;
        }
      }
      &-5of12 {
        min-width: @screen-xl / 12 * (1-@ratio-nav) * 5 ;
        max-width: 41.6%;
        &-fixed {
          min-width: @screen-xl / 12 * (1-@ratio-nav) * 5 ;
          max-width: @screen-xl / 12 * (1-@ratio-nav) * 5 ;
        }
        &-full {
          min-width: (@screen-xl / 12) * 5 ;
        }
      }
      &-6of7 {
        min-width: @screen-xl / 7 * (1-@ratio-nav) * 6 ;
        max-width: 85.7%;
        &-fixed {
          min-width: @screen-xl / 7 * (1-@ratio-nav) * 6 ;
          max-width: @screen-xl / 7 * (1-@ratio-nav) * 6 ;
        }
        &-full {
          min-width: (@screen-xl / 7) * 6 ;
        }
      }
      &-6of11 {
        min-width: @screen-xl / 11 * (1-@ratio-nav) * 6 ;
        max-width: 54.4%;
        &-fixed {
          min-width: @screen-xl / 11 * (1-@ratio-nav) * 6 ;
          max-width: @screen-xl / 11 * (1-@ratio-nav) * 6 ;
        }
        &-full {
          min-width: (@screen-xl / 11) * 6 ;
        }
      }
      &-7of8 {
        min-width: @screen-xl / 8 * (1-@ratio-nav) * 7 ;
        max-width: 87.5%;
        &-fixed {
          min-width: @screen-xl / 8 * (1-@ratio-nav) * 7 ;
          max-width: @screen-xl / 8 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-xl / 8) * 7 ;
        }
      }
      &-7of9 {
        min-width: @screen-xl / 9 * (1-@ratio-nav) * 7 ;
        max-width: 77.7%;
        &-fixed {
          min-width: @screen-xl / 9 * (1-@ratio-nav) * 7 ;
          max-width: @screen-xl / 9 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-xl / 9) * 7 ;
        }
      }
      &-7of10 {
        min-width: @screen-xl / 10 * (1-@ratio-nav) * 7 ;
        max-width: 70%;
        &-fixed {
          min-width: @screen-xl / 10 * (1-@ratio-nav) * 7 ;
          max-width: @screen-xl / 10 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-xl / 10) * 7 ;
        }
      }
      &-7of11 {
        min-width: @screen-xl / 11 * (1-@ratio-nav) * 7 ;
        max-width: 63.6%;
        &-fixed {
          min-width: @screen-xl / 11 * (1-@ratio-nav) * 7 ;
          max-width: @screen-xl / 11 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-xl / 11) * 7 ;
        }
      }
      &-7of12 {
        min-width: @screen-xl / 12 * (1-@ratio-nav) * 7 ;
        max-width: 58.3%;
        &-fixed {
          min-width: @screen-xl / 12 * (1-@ratio-nav) * 7 ;
          max-width: @screen-xl / 12 * (1-@ratio-nav) * 7 ;
        }
        &-full {
          min-width: (@screen-xl / 12) * 7 ;
        }
      }
      &-8of9 {
        min-width: @screen-xl / 9 * (1-@ratio-nav) * 8 ;
        max-width: 88.8%;
        &-fixed {
          min-width: @screen-xl / 9 * (1-@ratio-nav) * 8 ;
          max-width: @screen-xl / 9 * (1-@ratio-nav) * 8 ;
        }
        &-full {
          min-width: (@screen-xl / 9) * 8 ;
        }
      }
      &-8of11 {
        min-width: @screen-xl / 11 * (1-@ratio-nav) * 8 ;
        max-width: 72.7%;
        &-fixed {
          min-width: @screen-xl / 11 * (1-@ratio-nav) * 8 ;
          max-width: @screen-xl / 11 * (1-@ratio-nav) * 8 ;
        }
        &-full {
          min-width: (@screen-xl / 11) * 8 ;
        }
      }
      &-9of10 {
        min-width: @screen-xl / 10 * (1-@ratio-nav) * 9 ;
        max-width: 90%;
        &-fixed {
          min-width: @screen-xl / 10 * (1-@ratio-nav) * 9 ;
          max-width: @screen-xl / 10 * (1-@ratio-nav) * 9 ;
        }
        &-full {
          min-width: (@screen-xl / 10) * 9 ;
        }
      }
      &-9of11 {
        min-width: @screen-xl / 11 * (1-@ratio-nav) * 9 ;
        max-width: 81.8%;
        &-fixed {
          min-width: @screen-xl / 11 * (1-@ratio-nav) * 9 ;
          max-width: @screen-xl / 11 * (1-@ratio-nav) * 9 ;
        }
        &-full {
          min-width: (@screen-xl / 11) * 9 ;
        }
      }
      &-10of11 {
        min-width: @screen-xl / 11 * (1-@ratio-nav) * 10 ;
        max-width: 90.9%;
        &-fixed {
          min-width: @screen-xl / 11 * (1-@ratio-nav) * 10 ;
          max-width: @screen-xl / 11 * (1-@ratio-nav) * 10 ;
        }
        &-full {
          min-width: (@screen-xl / 11) * 10 ;
        }
      }
      &-11of12 {
        min-width: @screen-xl / 12 * (1-@ratio-nav) * 11 ;
        max-width: 91.6%;
        &-fixed {
          min-width: @screen-xl / 12 * (1-@ratio-nav) * 11 ;
          max-width: @screen-xl / 12 * (1-@ratio-nav) * 11 ;
        }
        &-full {
          min-width: (@screen-xl / 12) * 11 ;
        }
      }
    }
  }
}
