@import "../variables.less";

/* Default behavior & SUPER SMALL screens */
.u-container {
  &_align {
    &-start {
      display: inline-flex;
      flex-flow: row wrap;
      align-content: flex-start;
    }
    &-center {
      display: inline-flex;
      flex-flow: row wrap;
      align-content: center;
    }
    &-end {
      display: inline-flex;
      flex-flow: row wrap;
      align-content: flex-end;
    }
  }
  &_justify {
    &-start {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }
    &-center {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    &-end {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: flex-end;
    }
    &-evenly {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
  }
  &_padding {
    &-top {
      padding-top: @padding;
      &-no {
        padding-top: 0;
      }
    }
    &-right {
      padding-right: @padding;
      &-no {
        padding-right: 0;
      }
    }
    &-bottom {
      padding-bottom: @padding;
      &-no {
        padding-bottom: 0;
      }
    }
    &-left {
      padding-left: @padding;
      &-no {
        padding-left: 0;
      }
    }
    &-all {
      padding: @padding;
      &-no {
        padding: 0;
      }
    }
  }
  &_margin {
    &-top {
      margin-top: @padding;
      &-no {
        margin-top: 0;
      }
      &-auto {
        margin-top: auto;
      }
    }
    &-right {
      margin-right: @padding;
      &-no {
        margin-right: 0;
      }
      &-auto {
        margin-right: auto;
      }
    }
    &-bottom {
      margin-bottom: @padding;
      &-no {
        margin-bottom: 0;
      }
      &-auto {
        margin-bottom: auto;
      }
    }
    &-left {
      margin-left: @padding;
      &-no {
        margin-left: 0;
      }
      &-auto {
        margin-left: auto;
      }
    }
    &-all {
      margin: @padding;
      &-no {
        margin: 0;
      }
      &-auto {
        margin: auto;
      }
    }
  }
  &_fraction {
    &-1of1 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of2 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of3 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of4 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of5 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of6 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of7 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of8 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of9 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of10 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of11 {
      min-width: 100%;
      max-width: 100%;
    }
    &-1of12 {
      min-width: 100%;
      max-width: 100%;
    }
  }
}

/* Mobile */
@media screen and (min-width: @screen-xs) {
  .u-container {
    &_padding {
      &-top {
        padding-top: @padding;
        &-no {
          padding-top: 0;
        }
      }
      &-right {
        padding-right: @padding;
      }
      &-bottom {
        padding-bottom: @padding;
      }
      &-left {
        padding-left: @padding;
      }
      &-all {
        padding: @padding;
      }
    }
    &_margin {
      &-top {
        margin-top: @padding;
        &-no {
          margin-top: 0;
        }
      }
      &-right {
        margin-right: @padding;
      }
      &-bottom {
        margin-bottom: @padding;
      }
      &-left {
        margin-left: @padding;
      }
      &-all {
        margin: @padding;
      }
    }
  }
}

/* Large Mobile */
@media screen and (min-width: @screen-sm) {
  .u-container {
    &_padding {
      &-top {
        padding-top: 2 * @padding;
        &-no {
          padding-top: 0;
        }
      }
      &-right {
        padding-right: 2 * @padding;
      }
      &-bottom {
        padding-bottom: 2 * @padding;
      }
      &-left {
        padding-left: 2 * @padding;
      }
      &-all {
        padding: 2 * @padding;
      }
    }
    &_margin {
      &-top {
        margin-top: 2 * @padding;
        &-no {
          margin-top: 0;
        }
      }
      &-right {
        margin-right: 2 * @padding;
      }
      &-bottom {
        margin-bottom: 2 * @padding;
      }
      &-left {
        margin-left: 2 * @padding;
      }
      &-all {
        margin: 2 * @padding;
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: @screen-md) {
  .u-container {
    &_padding {
      &-top {
        padding-top: 3 * @padding;
        &-no {
          padding-top: 0;
        }
      }
      &-right {
        padding-right: 3 * @padding;
      }
      &-bottom {
        padding-bottom: 3 * @padding;
      }
      &-left {
        padding-left: 3 * @padding;
      }
      &-all {
        padding: 3 * @padding;
      }
    }
    &_margin {
      &-top {
        margin-top: 3 * @padding;
        &-no {
          margin-top: 0;
        }
      }
      &-right {
        margin-right: 3 * @padding;
      }
      &-bottom {
        margin-bottom: 3 * @padding;
      }
      &-left {
        margin-left: 3 * @padding;
      }
      &-all {
        margin: 3 * @padding;
      }
    }
    &_fraction {
      &-1of1 {
        min-width: @screen-md * (1-@ratio-nav)- @min-point;
        max-width: 100%;
        &-full {
          min-width: @screen-md - @min-point;
        }
      }
      &-1of2 {
        min-width: @screen-md / 2 * (1-@ratio-nav)- @min-point;
        max-width: 50%;
        &-full {
          min-width: @screen-md / 2 - @min-point;
        }
      }
      &-1of3 {
        min-width: @screen-md / 3 * (1-@ratio-nav)- @min-point;
        max-width: 33.3%;
        &-full {
          min-width: @screen-md / 3 - @min-point;
        }
      }
      &-1of4 {
        min-width: @screen-md / 4 * (1-@ratio-nav)- @min-point;
        max-width: 25%;
        &-full {
          min-width: @screen-md / 4 - @min-point;
        }
      }
      &-1of5 {
        min-width: @screen-md / 5 * (1-@ratio-nav)- @min-point;
        max-width: 20%;
        &-full {
          min-width: @screen-md / 5 - @min-point;
        }
      }
      &-1of6 {
        min-width: @screen-md / 6 * (1-@ratio-nav)- @min-point;
        max-width: 16.6%;
        &-full {
          min-width: @screen-md / 6 - @min-point;
        }
      }
      &-1of7 {
        min-width: @screen-md / 7 * (1-@ratio-nav)- @min-point;
        max-width: 14.2%;
        &-full {
          min-width: @screen-md / 7 - @min-point;
        }
      }
      &-1of8 {
        min-width: @screen-md / 8 * (1-@ratio-nav)- @min-point;
        max-width: 12.5%;
        &-full {
          min-width: @screen-md / 8 - @min-point;
        }
      }
      &-1of9 {
        min-width: @screen-md / 9 * (1-@ratio-nav)- @min-point;
        max-width: 11.1%;
        &-full {
          min-width: @screen-md / 9 - @min-point;
        }
      }
      &-1of10 {
        min-width: @screen-md / 10 * (1-@ratio-nav)- @min-point;
        max-width: 10%;
        &-full {
          min-width: @screen-md / 10 - @min-point;
        }
      }
      &-1of11 {
        min-width: @screen-md / 11 * (1-@ratio-nav)- @min-point;
        max-width: 9%;
        &-full {
          min-width: @screen-md / 11 - @min-point;
        }
      }
      &-1of12 {
        min-width: @screen-md / 12 * (1-@ratio-nav)- @min-point;
        max-width: 8.3%;
        &-full {
          min-width: @screen-md / 12 - @min-point;
        }
      }
    }
  }
}

/* Laptop */
@media screen and (min-width: @screen-lg) {
  .u-container {
    &_padding {
      &-top {
        padding-top: 4 * @padding;
        &-no {
          padding-top: 0;
        }
      }
      &-right {
        padding-right: 4 * @padding;
      }
      &-bottom {
        padding-bottom: 4 * @padding;
      }
      &-left {
        padding-left: 4 * @padding;
      }
      &-all {
        padding: 4 * @padding;
      }
    }
    &_margin {
      &-top {
        margin-top: 4 * @padding;
        &-no {
          margin-top: 0;
        }
      }
      &-right {
        margin-right: 4 * @padding;
      }
      &-bottom {
        margin-bottom: 4 * @padding;
      }
      &-left {
        margin-left: 4 * @padding;
      }
      &-all {
        margin: 4 * @padding;
      }
    }
    &_fraction {
      &-1of1 {
        min-width: @screen-lg * (1-@ratio-nav)- @min-point;
        max-width: 100%;
        &-full {
          min-width: @screen-lg - @min-point;
        }
      }
      &-1of2 {
        min-width: @screen-lg / 2 * (1-@ratio-nav)- @min-point;
        max-width: 50%;
        &-full {
          min-width: @screen-lg / 2 - @min-point;
        }
      }
      &-1of3 {
        min-width: @screen-lg / 3 * (1-@ratio-nav)- @min-point;
        max-width: 33.3%;
        &-full {
          min-width: @screen-lg / 3 - @min-point;
        }
      }
      &-1of4 {
        min-width: @screen-lg / 4 * (1-@ratio-nav)- @min-point;
        max-width: 25%;
        &-full {
          min-width: @screen-lg / 4 - @min-point;
        }
      }
      &-1of5 {
        min-width: @screen-lg / 5 * (1-@ratio-nav)- @min-point;
        max-width: 20%;
        &-full {
          min-width: @screen-lg / 5 - @min-point;
        }
      }
      &-1of6 {
        min-width: @screen-lg / 6 * (1-@ratio-nav)- @min-point;
        max-width: 16.6%;
        &-full {
          min-width: @screen-lg / 6 - @min-point;
        }
      }
      &-1of7 {
        min-width: @screen-lg / 7 * (1-@ratio-nav)- @min-point;
        max-width: 14.2%;
        &-full {
          min-width: @screen-lg / 7 - @min-point;
        }
      }
      &-1of8 {
        min-width: @screen-lg / 8 * (1-@ratio-nav)- @min-point;
        max-width: 12.5%;
        &-full {
          min-width: @screen-lg / 8 - @min-point;
        }
      }
      &-1of9 {
        min-width: @screen-lg / 9 * (1-@ratio-nav)- @min-point;
        max-width: 11.1%;
        &-full {
          min-width: @screen-lg / 9 - @min-point;
        }
      }
      &-1of10 {
        min-width: @screen-lg / 10 * (1-@ratio-nav)- @min-point;
        max-width: 10%;
        &-full {
          min-width: @screen-lg / 10 - @min-point;
        }
      }
      &-1of11 {
        min-width: @screen-lg / 11 * (1-@ratio-nav)- @min-point;
        max-width: 9%;
        &-full {
          min-width: @screen-lg / 11 - @min-point;
        }
      }
      &-1of12 {
        min-width: @screen-lg / 12 * (1-@ratio-nav)- @min-point;
        max-width: 8.3%;
        &-full {
          min-width: @screen-lg / 12 - @min-point;
        }
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: @screen-xl) {
  .u-container {
    &_padding {
      &-top {
        padding-top: 5 * @padding;
        &-no {
          padding-top: 0;
        }
      }
      &-right {
        padding-right: 5 * @padding;
      }
      &-bottom {
        padding-bottom: 5 * @padding;
      }
      &-left {
        padding-left: 5 * @padding;
      }
      &-all {
        padding: 5 * @padding;
      }
    }
    &_margin {
      &-top {
        margin-top: 5 * @padding;
        &-no {
          margin-top: 0;
        }
      }
      &-right {
        margin-right: 5 * @padding;
      }
      &-bottom {
        margin-bottom: 5 * @padding;
      }
      &-left {
        margin-left: 5 * @padding;
      }
      &-all {
        margin: 5 * @padding;
      }
    }
    &_fraction {
      &-1of1 {
        min-width: @screen-xl * (1-@ratio-nav)- @min-point;
        max-width: 100%;
        &-full {
          min-width: @screen-xl - @min-point;
        }
      }
      &-1of2 {
        min-width: @screen-xl / 2 * (1-@ratio-nav)- @min-point;
        max-width: 50%;
        &-full {
          min-width: @screen-xl / 2 - @min-point;
        }
      }
      &-1of3 {
        min-width: @screen-xl / 3 * (1-@ratio-nav)- @min-point;
        max-width: 33.3%;
        &-full {
          min-width: @screen-xl / 3 - @min-point;
        }
      }
      &-1of4 {
        min-width: @screen-xl / 4 * (1-@ratio-nav)- @min-point;
        max-width: 25%;
        &-full {
          min-width: @screen-xl / 4 - @min-point;
        }
      }
      &-1of5 {
        min-width: @screen-xl / 5 * (1-@ratio-nav)- @min-point;
        max-width: 20%;
        &-full {
          min-width: @screen-xl / 5 - @min-point;
        }
      }
      &-1of6 {
        min-width: @screen-xl / 6 * (1-@ratio-nav)- @min-point;
        max-width: 16.6%;
        &-full {
          min-width: @screen-xl / 6 - @min-point;
        }
      }
      &-1of7 {
        min-width: @screen-xl / 7 * (1-@ratio-nav)- @min-point;
        max-width: 14.2%;
        &-full {
          min-width: @screen-xl / 7 - @min-point;
        }
      }
      &-1of8 {
        min-width: @screen-xl / 8 * (1-@ratio-nav)- @min-point;
        max-width: 12.5%;
        &-full {
          min-width: @screen-xl / 8 - @min-point;
        }
      }
      &-1of9 {
        min-width: @screen-xl / 9 * (1-@ratio-nav)- @min-point;
        max-width: 11.1%;
        &-full {
          min-width: @screen-xl / 9 - @min-point;
        }
      }
      &-1of10 {
        min-width: @screen-xl / 10 * (1-@ratio-nav)- @min-point;
        max-width: 10%;
        &-full {
          min-width: @screen-xl / 10 - @min-point;
        }
      }
      &-1of11 {
        min-width: @screen-xl / 11 * (1-@ratio-nav)- @min-point;
        max-width: 9%;
        &-full {
          min-width: @screen-xl / 11 - @min-point;
        }
      }
      &-1of12 {
        min-width: @screen-xl / 12 * (1-@ratio-nav)- @min-point;
        max-width: 8.3%;
        &-full {
          min-width: @screen-xl / 12 - @min-point;
        }
      }
    }
  }
}
