@import "../variables.less";

.u-container {
  //   &_padding {
  //     &-top {
  //       padding-top: @padding !important;
  //     }
  //     &-rigth {
  //       padding-right: @padding !important;
  //     }
  //     &-bottom {
  //       padding-bottom: @padding !important;
  //     }
  //     &-left {
  //       padding-left: @padding !important;
  //     }
  //     &-all {
  //       padding: @padding !important;
  //     }
  //   }
  &_align {
    &-start {
      align-content: flex-start !important;
    }
    &-center {
      align-content: center !important;
    }
    &-end {
      align-content: flex-end !important;
    }
  }
  &_justify {
    &-start {
      justify-content: flex-start !important;
    }
    &-center {
      justify-content: center !important;
    }
    &-end {
      justify-content: flex-end !important;
    }
  }
  &_fraction {
    &-1of1 {
      width: 100% !important;
    }
    &-1of2 {
      width: 50% !important;
    }
    &-1of3 {
      width: 33.3% !important;
    }
    &-1of4 {
      width: 25% !important;
    }
    &-1of5 {
      width: 20% !important;
    }
    &-1of6 {
      width: 16.6% !important;
    }
    &-1of7 {
      width: 14.2% !important;
    }
    &-1of8 {
      width: 12.5% !important;
    }
    &-1of9 {
      width: 11.1% !important;
    }
    &-1of10 {
      width: 10% !important;
    }
    &-1of11 {
      width: 9% !important;
    }
    &-1of12 {
      width: 8.3% !important;
    }
  }
}
