@import "../variables.less";

.u-text {
  &_ta {
    //_____________Text Align
    &-center {
      text-align: center;
    }
    &-left {
      text-align: left;
    }
    &-right {
      text-align: right;
    }
    &-justify {
      text-align: justify;
    }
  }
  &_ff {
    //_____________Font Face
    &-regular {
      font-family: @ff;
    }
  }
  &_fs {
    //_____________Font Size
    &-xl {
      font-size: @fs-lg;
      line-height: @fs-lg + @fs-lg / 10;
      letter-spacing: 0rem;
    }
    &-lg {
      font-size: @fs-md;
      line-height: @fs-md + @fs-md / 10;
      letter-spacing: @fs-md / 32;
    }
    &-md {
      font-size: @fs-sm;
      line-height: @fs-sm + @fs-sm / 10;
    }
    &-sm {
      font-size: @fs-xs;
      line-height: @fs-xs + @fs-xs / 10;
    }
  }
  &_fw {
    //_____________Font Weight
    &-light {
      font-weight: 200;
    }
    &-normal {
      font-weight: normal;
    }
    &-bold {
      font-weight: bold;
    }
  }
  &_italic {
    //_____________Style Italic
    font-style: italic;
  }
  &_shadow {
    &-white {
      text-shadow: 1px 1px 2px white;
    }
  }
}

/* Large Mobile */

/* Tablet */

/* Laptop */
@media screen and (min-width: @screen-lg) {
  .u-text {
    &_fs {
      //_____________Font Size
      &-xl {
        font-size: @fs-xl;
        line-height: @fs-xl + @fs-xl / 10;
        letter-spacing: 0rem;
      }
      &-lg {
        font-size: @fs-lg;
        line-height: @fs-lg + @fs-lg / 10;
        letter-spacing: 0rem;
      }
      &-md {
        font-size: @fs-md;
        line-height: @fs-md + @fs-md / 10;
        letter-spacing: @fs-md / 32;
      }
      &-sm {
        font-size: @fs-sm;
        line-height: @fs-sm + @fs-sm / 10;
      }
    }
  }
}
